@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css); 
*{font-family: "Noto Sans KR", sans-serif !important;}
html, body, h1, h2, h3, h4, div, dl, dt, dd, ol, ul, li, p, span, img, table, th, td, input, form, fieldset, label, button, address {font-family: "Noto Sans KR", sans-serif !important; padding: 0; margin: 0; border: 0;}
img, input, label {border: 0; vertical-align: middle;}
input[type=text], input[type=password], textarea, select {font-family: "Noto Sans KR", sans-serif !important; font-size: 14px; letter-spacing:-1px;}
input[type=submit]{cursor:pointer;}
.table{ border-top:3px solid #ccc; border-bottom:1px solid #ccc;}
.table thead th{background-color: #f3f4f8;  font-weight: normal}
.table th, .table td{font-size: 16px; color:#454545}
.table tr{cursor: pointer;}
.page-link{color:#666;}
address, strong {font-weight: normal; font-style: normal;}
ol, ul, li {list-style: none;}
table {border: 0; border-collapse: collapse; border-spacing: 0;}
caption, legend {display: none;}
a {text-decoration: none; color: #666; cursor:pointer; }
a:hover{color:#009397}
a:hover, a:focus {/*color: #2b80c1;*/ text-decoration: none;}
input:focus{outline: none;}
.btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus, .show > .btn-info.dropdown-toggle:focus{ box-shadow: none;}
.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active, .show > .btn-info.dropdown-toggle{ background-color: #ea680f; border:1px solid #ea680f}
.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active, .show > .btn-outline-secondary.dropdown-toggle{color: #fff;
background-color:transparent;
border-color: #009397 !important; color:#009397}
body { font-size: 14.5px; color: #000; letter-spacing:-1px; }
.hide {line-height: 0; height: 0; text-indent: -9999px; position: absolute; left: -9999px; font-size: 0;}
#skipnav a {position: absolute; overflow: hidden; width: 1px; height: 1px; clip: rect(1px 1px 1px 1px); z-index: 100; }
#skipnav a:focus {top: 0; left: 0; overflow: auto; clip: auto; width: 200px; height: 30px; line-height: 30px; background-color: #666; text-align: center; color: #fff;}
.clearfix:before, .clearfix:after {content: " ";display:table;padding:0}
.clearfix:after {clear:both}
.footer_width{ overflow: hidden;}
.clear{ clear:both !important; }
.fl{float:left !important;}
.fr{float:right !important;}
.table td{ vertical-align: middle}

.modal-dialog{max-width:780px; }
.modal-title{ font-size: 25px;}
.modal-header .close{font-size: 40px;
	vertical-align: top;
	padding: 10px 20px;}

.modal-body{width: 95%;
	margin: 30px auto 30px;
	border-radius: 10px;
	padding: 30px;
	background-color: #f2f2f2;
	overflow-y: scroll;
	text-align: left;}
.modal-body .btn{ display: none}

body{ font-family: 'Noto Sans Korean', sans-serif !important;}
.container{position: relative; max-width: 100%; padding:0}
.container .layout_cont{width: 100%;

	margin:0px auto;
	
	overflow: hidden;
	

	
	float: left; }
.head_top{width:100%; margin:0 auto; position: relative;background: #f5f7fa;border-bottom: solid 1px #dfdfdf;}
.head_navi{width:1200px !important; margin:0 auto; font-size: 14px; color:#ccc;padding:12px 0; text-align: right}
.head_navi a{font-size: 14px; color:#999;padding:0 10px; border-right: 1px solid #999;}
.head_navi a:hover{color:#009397}
.head_navi .ad_navi{border:1px solid #ccc; background:#e5e6e6 url(http://192.168.1.220:8080/images/ad_navi_bg.png) no-repeat 5px center; padding-left:25px;  }
.head_seach{padding:0;}
.logo_search_cont{ margin:0 auto; max-width: 1200px; overflow: hidden; padding:10px 0; }
.head_logo{width:240px;  padding:5px 0; float:left; margin-top: 10px;}
.head_menu{ width: 100%; margin:0 auto; padding:0; border-bottom: solid 1px #dfdfdf; border-top: solid 1px #dfdfdf; }
.head_layout{width:1200px; height:58px;}
.head_menu_layout{ max-width:100%; margin:0 auto; width:100%; float:left; }
.head_menu_layout_ri .k-menu .k-item{text-align: center;  padding:12px 10px; min-width: 100px; float: left; }
.k-animation-container{left:20px !important;}
.k-menu .k-item > .k-link{padding:6px 15px;  margin: 0 auto;}
.k-menu .k-item > .k-link:hover{color:#009397 !important}
.k-menu .k-item .k-state-default{padding:5px 10px; width:100%;}
.k-menu:not(.k-context-menu) > .k-item{color:#333 !important; font-weight: bold;}
.k-menu:not(.k-context-menu) > .k-item:hover{color:#009397 !important}
.k-menu:not(.k-context-menu) > .k-item > .k-state-active{color:#009397 !important}
.navFixed .k-menu:not(.k-context-menu) > .k-item{color:#fff !important; font-weight: bold; padding: 8px 5px;}
.navFixed .k-menu:not(.k-context-menu) > .k-item:hover{color:#fff !important}
.navFixed .k-menu .k-item > .k-link:hover{color:#333 !important}
.navFixed .k-menu:not(.k-context-menu) > .k-item > .k-state-active{color:#fff !important}
.page-item.active .page-link{background-color: #009397;
border-color: #009397;}
.search_cont{width:700px; margin:0 auto; float:left;}
.best_keyword{width:100%; margin-top:10px;}
 .best_keyword ul{width: 470px;
	margin:0px auto; overflow: hidden;}
.best_keyword ul p{float: left;
		font-size: 14px;
		color: #959595;
		margin-top: 4px;
		margin-right: 5px;}
.best_keyword ul li{float:left; margin:0 5px; border:1px solid #ccc; padding:3px 10px; border-radius: 20px; color:#009397; font-size: 13px;}
.search_cont .total_search{border: 2px solid #009397;
max-height: 50px;
width: 470px;
margin: 15px auto 0px;}

.top_head_banner .VueCarousel-pagination{bottom:-20px;position: absolute;}
.top_head_banner .main_top_com_info_layout{ padding:0;}

.top_head_banner .VueCarousel-dot--active{background-color: #5fc383 !important;}
.k-menu-group .k-item > .k-link, .k-menu-vertical .k-item > .k-link{ text-align:center; padding:4px;}
.banner {position: relative; width: 340px; height: 210px; top: 50px;  margin:0 auto; padding:0; overflow: hidden;}
.banner ul {position: absolute; margin: 0px; padding:0; list-style: none; }
.banner ul li {float: left; width: 340px; height: 210px; margin:0; padding:0;}
.k-menu .k-item{text-align: center;  padding:11px 10px; min-width: 13.5%; float:left; }
.k-icon{ margin-top:5px;}
.k-menu-group .k-item > .k-link, .k-menu-vertical .k-item > .k-link{padding:3px 10px; min-width: 150px; text-align: center}
.k-list .k-item:hover, .k-list .k-item.k-state-hover, .k-list-optionlabel:hover, .k-list-optionlabel.k-state-hover, .k-list-container .k-button:hover, .k-list-container .k-button.k-state-hover, .k-column-list-item:hover, .k-columnmenu-item:hover, .k-spreadsheet-filter-menu > .k-menu .k-item.k-state-hover, .k-spreadsheet-popup .k-button:hover, .k-spreadsheet-popup .k-button.k-state-hover, .k-menu-group .k-item:hover, .k-menu-group .k-item.k-state-hover, .k-menu.k-context-menu .k-item:hover, .k-menu.k-context-menu .k-item.k-state-hover{ background-color: transparent !important}
.paging_cont{margin:20px auto; overflow: hidden; text-align: center}
.pagination{display: inline-flex;}
.search{width:100%; margin:10px auto; position: relative;}
.search_cont input{float: left;

	min-height: 42px;
	
	width: 415px;
	
	border-radius: 0;
	
	background: #fff;
	
	border: 0;
	
	padding: 8px 10px;
	
	margin: 0 !important;}
.search_cont select{float:left;height: 46px;width:32%;margin: 0px 0px 2px; border-radius: 0; background: #fff;  border:0;}
.search_cont .btn-info{border: 0;

	background: url(http://192.168.1.220:8080/images/head_search_bg.png) no-repeat center;
	
	min-height: 42px;
	
	text-indent: -5000px;
	
	min-width: 51px;
	
	padding: 0; border-radius: 0;}
.k-menu{ margin:0 auto; width:100%; display: inline-block;}
.k-menu-group  .k-item{ background-color: #fff;}
.k-menu-group  .k-item:hover{ background-color: #fff;} 
.img-fluid{height: 180px; overflow: hidden;}
.banner {position: relative; width: 340px; height: 210px; top: 50px;  margin:0 auto; padding:0; overflow: hidden;}
	.banner ul {position: absolute; margin: 0px; padding:0; list-style: none; }
    .banner ul li {float: left; width: 340px; height: 210px; margin:0; padding:0;}
  .nt_new_roll{width: 1200px;

	margin-left: -600px;
	
	left: 50%;
	
	overflow: hidden;
	
	background-color: #fff;
	
	border: 1px solid #e5e5e5;
	
	position: absolute;
	
	z-index: 999;
	
	top: 270px;
	
	min-height: 63px;}
.nt_new_roll .notice_info{width:50%; border-right:1px solid #e5e5e5; padding:19px ; float:left;}
.nt_new_roll .notice_info .nt_title{max-width: 55px; float:left; color:#009397; font-size: 16px; font-weight: bold; }
.nt_new_roll .notice_info .more_icon{float:right;}
.nt_new_roll .notice_info .simply-scroll-container{width:430px; margin:0 20px; color:#454545;}
.nt_new_roll .notice_info .monthly_title{width:340px; float:left; text-align: left;}
.nt_new_roll .notice_info .monthly_date{width:auto; float:left; text-align: center;}
.nt_new_roll .news_info{width:50%; padding:20px ; float:left;}

.nt_new_roll .news_info .nt_title{max-width: 55px; float:left; color:#009397; font-size: 16px; font-weight: bold; }
.nt_new_roll .news_info .more_icon{float:right;}
.nt_new_roll .news_info .simply-scroll-container{width:430px; margin:0 20px; color:#454545;}
.nt_new_roll .news_info .monthly_title{width: 360px;

	float: left;
	
	text-align: left;
	
	text-overflow: ellipsis;
	
	white-space: nowrap;
	
	word-wrap: normal;
	
	overflow: hidden; padding-right:30px;}
.nt_new_roll .news_info .monthly_date{width:auto; float:left; text-align: center;}
.news_info .vert .simply-scroll-clip .more_icon {
    display: none;
}

.main_conter_layout{max-width:1200px; width:100%; margin:0 auto;}
.main_conter{
	margin:0 auto;
	
	background-color: rgba(0, 0, 0, 0.6);
	
	padding: 7px 15px;
	
	text-align: center !important;
	
	color: #fff;
	
	font-size: 18px;
	
	font-weight: normal;
	
	border-radius: 10px; width: 50%;}
	.circle_txt {

		font-size: 12.5px;
		color: #4876ef;
		border: solid 1px #4876ef;
		border-radius: 2px;
		padding: 0px 5px 3px 5px;
		line-height: 14px;
		display: inline-block;
		line-height: 13px;
		text-align: center;
	
	}
	.main_conter .number{color: #ea680f;

		font-size: 20px;
		
		font-weight: bold;
		
		text-decoration: underline;
		
		margin-left: 5px;}
.VueCarousel-dot-container{ float:right; margin-top:0 !important;padding-right:10px !important;}
.head_icon_menu{width:20%; float: right; position: relative;}  		
.head_icon_menu ul{width: 100%;

    overflow: hidden;
    
    margin: 15px auto 0;
    
    padding-left: 0;}
.head_icon_menu ul li{ text-align: center; position: relative; float:left; width:33%; margin: 0 0.15%; list-style: none; font-size: 14px; color:#999; letter-spacing: -1px; cursor: pointer; }
.head_icon_menu ul li.my_login  i{margin: 0 auto; width:32px; height:33px; background:url(http://xn--910bq9bp2fj52a.com/web/p/asset/img/inc/header_iconmenu.png) no-repeat; display:block; /*margin-left:5px;*/ margin-bottom:3px; text-align:center;}
.head_icon_menu ul li.my_logout a{margin-right:12px;}
.head_icon_menu ul li.my_logout  i{margin: 0 auto; width:32px; height:33px; background:url(http://xn--910bq9bp2fj52a.com/web/p/asset/img/inc/header_iconmenu.png) no-repeat; display:block;  margin-bottom:3px; text-align:center;}
.head_icon_menu ul li.my_advertise a{margin:0px 15px;}
.head_icon_menu ul li.my_advertise i{margin: 0 auto; width:35px; height:33px; background:url(http://xn--910bq9bp2fj52a.com/web/p/asset/img/inc/header_iconmenu.png) no-repeat; background-position:-33px 0px; display:block;   margin-bottom:3px; }
.head_icon_menu ul li.my_recent a{margin-left:10px;}
.head_icon_menu ul li.my_recent  i{margin: 0 auto; width:32px; height:33px; background:url(http://xn--910bq9bp2fj52a.com/web/p/asset/img/inc/header_iconmenu.png) no-repeat; background-position:-69px 0px; display:block;  margin-bottom:3px; }
.head_icon_menu ul li.my_my a{margin:0px 12px;}
.head_icon_menu ul li.my_my a i{ width:34px; height:33px; background:url(http://xn--910bq9bp2fj52a.com/web/p/asset/img/inc/header_iconmenu.png) no-repeat; background-position:-102px 0px; display:block; margin-left:10px; margin-bottom:3px; }
.head_icon_menu ul li:after{top: 15px;

	right: 2px; position:absolute; display:inline; width:1px; height:18px; border-left:1px solid #bcbcbc; vertical-align:middle; content:''; }
.head_icon_menu ul li:last-child:after{ border-left:none;}
.head_icon_menu ul li.my_recent a span.cnt{ display:block; position:absolute; top:0px; right:0px; border-radius:50px; min-width:21px; padding:8px 0px; background:#ea5903; font-family:"notob"; color:#fff; text-align:center; line-height:5px;}

.main_cont_bottom{ width:100%; margin:0 auto; background-color: #fff; float:left;}

#newsticker-container a{color: #D83B97;text-decoration: none;}
#newsticker-container
    {
        width: 400px; 
        margin: auto;
        margin-top: 30px;
        border: 5px solid #eeeeee;
    }
    
    #newsticker-container ul li div
    {
        border-top: 1px solid #e2e2e2;
        background: #ffffff;
        padding: 10px 5px;
    }
.menu_right{ width:auto; float: right;}
.layout_cont .left_aside {

    top: 330px;

}
div.left_aside{ position:absolute; top:285px; right:50%; margin-right:-750px; width:126px; height:454px; z-index:99;}
.asideFixed {

    position: fixed !important;
    top: 65px !important;

}

.navFixed{position:fixed; top:0px;width:100%; height:51px; margin:0px auto; z-index:999; border-bottom: 1px solid #009397;

    background: #009397; box-shadow: 2px 3px 10px #b3b3b3;}
.navFixed
div.new_com{ width:126px; height:294px; background:#fff; border:solid 1px #e5e5e5; box-sizing:border-box;}
div.new_com p.new_com_title {

    font-size: 12.5px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    background: url(http://xn--910bq9bp2fj52a.com/web/p/asset/img/inc/l_floating_icon01.png)15px 12px no-repeat;
    padding-left: 20px;
    border-bottom: solid 1px #e5e5e5;
    font-family: "notom";
    font-weight: normal;

}
.main_tab_cont .tab-content .main_area_btn{float:left; margin-bottom: 8px; padding: 0 3px;}
.main_tab_cont .tab-content .main_area_btn .btn{width:100%; border:1px solid #999; color:#999; }
.main_tab_cont .tab-content .main_area_btn .btn-outline-secondary:hover{ background-color: #0052a4; border:1px solid #0052a4; font-weight: bold; color:#fff;}
.main_tab_cont .tab-content{overflow: hidden; padding:15px 0;}
.list_search_bottom{width:60%; margin:20px auto 0;}
.list_search_bottom input{float:left;width:80% !important;}
.card{ border-top:5px solid #4876ef; border-radius: 0; margin-bottom:20px;cursor: pointer; }
.card-img{height: 130px; border-radius: 0;}
.BottomFrame{width:100%; margin:0px auto 0px; background-color: #fff; float: left; }

.footer_guide{width:100%; max-width: 1200px; margin:20px auto; padding:15px; background-color: #f6f7f9; border:1px solid #ebebeb; overflow: hidden; }
.footer_guide img{ margin-right:5px; float:left;}
.footer_guide p{color:#464646; float:left;}
.footer_guide p span{color:#009397;}
.footer_guide .guide_icon{ float:right; border-left:1px solid #ccc; padding-left:15px;}
.footer_navi{width:100%; padding:15px; border-top:1px solid #ccc; border-bottom:1px solid #ccc; overflow: hidden;}
.footer_navi ul{width:1200px; margin:0 auto;}
.footer_navi ul li{width:13%; float:left; color:#7c7c7c; cursor: pointer; border-right: 1px solid #ededed; text-align: center }
.footer_navi ul li:last-child{ border-right: 0;}
.footer_navi ul li.wh{width:16%; }
.footer_navi ul li:hover{color:#009397}
.footer_width{width:1200px; margin:0 auto; color:#eee; padding:30px 0; font-size: 12px }
.footer_width .footer_logo{width:25%; float:left;}
.footer_width .footer_address{ text-align: left; font-size: 14px; color:#3b3b3b; float: right; width:75%; }
.footer_width .footer_address p{color:#3b3b3b; margin-bottom:20px; word-break: keep-all}
.footer_width .footer_address p.footer_color{color:#a3a3a3;}
.footer_width .footer_address p span{color:#38c1ca;}
.footer_banner{ background-color: #f6f6f6; padding:30px 0;}
.footer_banner .footer_banner_layout{width:1200px; margin:0 auto; overflow: hidden;}
.footer_banner .footer_banner_layout h6{ font-size: 22px; text-align: left; color:#454545; margin-bottom: 10px; }
.footer_banner .footer_banner_layout h6 img{ float: right;}
.footer_banner .footer_banner_layout .footer_customer_Center{width:345px; float:left; margin-right:30px;}
.footer_banner .footer_banner_layout .footer_customer_Center .footer_customer_Center_info{overflow: hidden; font-size: 15px; color:#959595; border:1px solid #ccc; background-color: #fff; padding: 15px 20px 15px;}
.footer_banner .footer_banner_layout .footer_customer_Center .footer_customer_Center_info dl{width:100%; overflow: hidden; }
.footer_banner .footer_banner_layout .footer_customer_Center .footer_customer_Center_info dl dt{text-align: left; width:95px; float:left; margin-top:10px;}
.footer_banner .footer_banner_layout .footer_customer_Center .footer_customer_Center_info dl dd{color:#009397; font-size: 26px; margin-bottom:0px; float:left; text-align: left;}
.footer_banner .footer_banner_layout .footer_customer_Center .footer_customer_Center_info dl dd span{ font-size: 15px; color:#666; line-height: 1}
.footer_banner .footer_banner_layout .footer_account_info{width:345px; float:left; margin-right:30px;}
.footer_account_layout{border:1px solid #ccc; background-color: #fff; padding: 15px 20px 15px; min-height: 163px;}
.footer_banner .footer_banner_layout .footer_account_info dl{width:100%; overflow: hidden; color:#959595; }
.footer_banner .footer_banner_layout .footer_account_info dl dt{text-align: left; width:95px; float:left; margin-top:10px; }
.footer_banner .footer_banner_layout .footer_account_info dl dd{color:#009397; font-size: 26px; margin-bottom:0px; float:left; text-align: left; }
.footer_banner .footer_banner_layout .footer_quick_btn{width:450px; float:left; }
.footer_banner .footer_banner_layout .footer_quick_btn .ft_quick_layout{border:1px solid #ccc; background-color: #fff; padding: 35px 20px 15px; overflow: hidden; min-height: 163px;}
.footer_banner .footer_banner_layout .footer_quick_btn .ft_quick_layout ul{width:100%; margin:0 auto; overflow: hidden;}
.footer_banner .footer_banner_layout .footer_quick_btn .ft_quick_layout ul li{width:25%; float:left; text-align: center;padding-top:75px; cursor: pointer; color:#666666}
.footer_banner .footer_banner_layout .footer_quick_btn .ft_quick_layout ul li:hover{color:#009397}
.footer_banner .footer_banner_layout .footer_quick_btn .ft_quick_layout ul li.bg1{background:url(http://192.168.1.220:8080/images/ft_quick_bg_01.png) center top no-repeat;}
.footer_banner .footer_banner_layout .footer_quick_btn .ft_quick_layout ul li.bg2{background:url(http://192.168.1.220:8080/images/ft_quick_bg_02.png) center top no-repeat;}
.footer_banner .footer_banner_layout .footer_quick_btn .ft_quick_layout ul li.bg3{background:url(http://192.168.1.220:8080/images/ft_quick_bg_03.png) center top no-repeat;}
.footer_banner .footer_banner_layout .footer_quick_btn .ft_quick_layout ul li.bg4{background:url(http://192.168.1.220:8080/images/ft_quick_bg_04.png) center top no-repeat;}

div.new_com p.new_com_title{ font-size:12.5px; height:38px; line-height:38px; text-align:center; background:url(http://xn--910bq9bp2fj52a.com/web/p/asset/img/inc/l_floating_icon01.png)15px 12px no-repeat; padding-left:20px; border-bottom:solid 1px #e5e5e5;font-family:"notom"; font-weight:normal; }
div.new_com ul{ padding:15px 7px; font-size:12px; text-align:center; font-family:"notom"; font-weight:normal; color:#8a8a8a; }
div.new_com ul li a{ width:105px; font-size:11.5px; text-align:center; font-family: "Malgun Gothic","돋움",Dotum,sans-serif; font-weight:normal; color:#8a8a8a; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; display:inline-block; vertical-align:middle; margin-bottom:7px;}
div.new_com ul li span{padding-right: 10px; background:url(http://xn--910bq9bp2fj52a.com/web/p/asset/img/inc/l_floating_new.png) right 5px no-repeat; }
p.join_bann{  height:101px; background:url(http://xn--910bq9bp2fj52a.com/web/p/asset/img/inc/l_floating_imgbann.png) 0px 0px no-repeat; color:#edeeef; font-size:12px; line-height:14px; padding:13px 0px 0px 51px;  font-weight:normal; margin-bottom:6px; }
.main_vesual{float: left;

	width: 100%;
	
	background: url(http://192.168.1.220:8080/images/care_bg_01.png) 0px 0px no-repeat;
	
	min-height: 300px;
	
	position: relative;
	
	z-index: 9;}
.main_vesual p{width: 1200px;
margin: 60px auto 30px;
font-size: 32px;
color: #fff;
font-weight: normal;
text-align: center;
text-shadow: 2px 3px 3px #333;}

.new_com{ background-color: #fff; border:1px solid #ccc;}
.k-icon{ }
.k-icon::before{display: none; }
.mt_top_layout{width:100%;background-color: #f6f8f8; padding-top:50px; overflow: hidden;}
.main_cont_top{width:100%; margin:30px auto;  overflow: hidden; max-width: 1200px; }

.my_login a{margin-right:18px;}
.card-text{color:#999 !important;width:100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap:break-word; 
    line-height: 1.2em;
    height: 3.6em;
    text-decoration: none;word-break: keep-all;
}
.main_wide_banner{background:url(http://192.168.1.220:8080/images/main_mibble_bg.png) 0px 0px no-repeat;width: 100%;
	float: left;  }
.main_wide_banner p{max-width: 1200px; margin:0 auto; font-size: 24px; color:#fff; text-align: left; }

.main_title{ font-size: 24px; margin-bottom: 10px; text-align: left;width:99%;}
.main_title span{color:#ff5f00; }
.main_title a{ display: inline-block; float: right; font-size: 14px; color:#999;  border:1px solid #ccc; text-align: center; background-color: #fff;padding:1px 3px 3px;}

.main_basic_cont{width:1200px; margin:0 auto; padding:50px 0;}
.main_basic{width:100%; margin:0 auto; overflow: hidden; }
.main_basic ul li{width:19%; margin:0.5%; float:left; border:1px solid #b5b5b5; padding:15px; min-height: 150px; cursor: pointer;}
.main_basic ul li:hover{border:1px solid #0052a4;}
.main_basic ul li .com_img{width:100%; margin:0 auto 10px; text-align: center;}
.main_basic ul li .com_img img{width:100%; max-height: 80px;}
.main_basic ul li .com_main_info{width:100%; text-align: left; font-size:14px; color:#666;}
.main_basic ul li .com_main_info span{font-size: 18px; color:#333;}
.main_basic ul li .com_main_info span.main_com_text{font-size: 14px !important; display: inline-block; width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
white-space: normal; line-height: 1.2; height: 3.6em; text-align: left; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;}
.main_basic ul li .com_main_info span.main_com_text span{ font-size: 14px !important;}

.card-text p{ text-align: left; font-size: 12px; line-height: 1.5; color:#999 !important;}
.card-text p strong{color:#999 !important;}
.card-text p:hover{ text-decoration: none;} 
.card-text a{color:#999 !important;}
.card-text a:hover{ text-decoration: none;}

.VueCarousel-slide{ min-height: 53px;}
.VueCarousel-dot--active{ background-color: #999 !important;}
.VueCarousel-dot{ padding:10px 5px !important; margin-top:0 !important; outline:0;}
.main_top_com_info_layout{width:100%; margin:0px auto; padding:20px 20px 0; overflow: hidden;}
.main_top_com_info_layout .main_top_lawyer_img{max-width:20%;margin-right:20px;width:120px; height: 120px; background-color: #eaeaea; border:1px solid #ccc; border-radius: 50%; float:left;} 
.main_top_com_info_layout .main_top_com_info{width:78%; float:left;  text-align: left; word-break: keep-all; text-align: left; margin-top:20px; }
.main_top_com_info_layout .main_top_com_info p{color:#999;}
.VueCarousel-navigation{width:40px;

position: absolute;

min-height: 30px;

top: -40px;

right:0px;}
.VueCarousel-navigation-button{
    position: absolute;
    top: 0% !important;
    box-sizing: border-box;
    color: #000;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
	outline: none;
	
}
.VueCarousel-navigation-prev{transform: none!important;right: 30px; width: 20px; background: url(http://192.168.1.220:8080/images/pro_banner_arrow_01.png) no-repeat left; text-indent: -9999px;}
.VueCarousel-navigation-next{transform: none !important; width: 20px; background: url(http://192.168.1.220:8080/images/pro_banner_arrow_02.png) no-repeat right; text-indent: -9999px;}
.simply-scroll-container { 
	position: relative;
	float:left;
}

.simply-scroll-clip {
		position: relative;
		overflow: hidden;
}

.simply-scroll-list { 
		overflow: hidden;
		margin: 0;
		padding: 0;
		list-style: none;
}
	
.simply-scroll-list li {
			padding: 0;
			margin: 0;
			list-style: none;
}
	
.simply-scroll-list li img {
			border: none;
			display: block;
}
	
.simply-scroll-btn {
		position: absolute;
		
		width: 42px;
		height: 44px;
		z-index:3;
		cursor: pointer;
	}
	
	.simply-scroll-btn-left {
		left: 6px;
		bottom: 6px;
		background-position: 0 -44px;
	}
	.simply-scroll-btn-left.disabled {
		background-position: 0 0 !important;
	}
	.simply-scroll-btn-left:hover, .simply-scroll-btn-left:focus {
		background-position: 0 -88px;
	}
	
	.simply-scroll-btn-right {
		right: 6px;
		bottom: 6px;
		background-position: -84px -44px;
	}
	.simply-scroll-btn-right.disabled {
		background-position: -84px 0 !important;
	}
	.simply-scroll-btn-right:hover, .simply-scroll-btn-right:focus {
		background-position: -84px -88px;
	}
	
	.simply-scroll-btn-up {
		right: 6px;
		top: 6px;
		background-position: -126px -44px;
	}
	.simply-scroll-btn-up.disabled {
		background-position: -126px 0 !important;
	}
	.simply-scroll-btn-up:hover, .simply-scroll-btn-up:focus {
		background-position: -126px -88px;
	}
	
	.simply-scroll-btn-down {
		right: 6px;
		bottom: 6px;
		background-position: -42px -44px;
	}
	.simply-scroll-btn-down.disabled {
		background-position: -42px 0 !important;
	}
	.simply-scroll-btn-down:hover, .simply-scroll-btn-down:focus {
		background-position: -42px -88px;
	}
	
	.simply-scroll-btn-pause {
		right: 6px;
		bottom: 6px;
		background-position: -168px -44px;
	}
	.simply-scroll-btn-pause:hover, .simply-scroll-btn-pause:focus {
		background-position: -168px -88px;
	}
	
	.simply-scroll-btn-pause.active {
		background-position: -84px -44px;
	}
	.simply-scroll-btn-pause.active:hover, .simply-scroll-btn-pause.active:focus {
		background-position: -84px -88px;
	}

.notice_info .vert .simply-scroll-clip{height:20px; }

.notice_info .vert .simply-scroll-clip .more_icon{ display:none;}
	.vert .simply-scroll-clip {
		width: 100%;
		height:198px;
	}
	.vert .simply-scroll-btn-up { /* modified btn pos */
		right: 0;
		top: 0;
	}
	
	
	.vert .simply-scroll-btn-down { /* modified btn pos */
		right: 0;
		top: 52px;
	}
.monthly_inquire{position:relative; float:left; width:100%; min-height:220px; padding:0}
.monthly_inquire .rolling_cont{width:100%; border:1px solid #ccc; padding:15px 10px; overflow: hidden; background-color: #fff; min-height: 230px; }
.monthly_inquire:after{position:absolute; top:20px; right:-1px; content:""; display:block; width:1px; height:180px; background:#d9d9d9; z-index:10; }
.monthly_inquire h3{ font-size:22px; color:#333 !important; font-weight:normal; letter-spacing:-1px; margin-bottom:8px; text-align: left; }
.monthly_inquire h3 span{ color:#4c78ea;}
.monthly_inquire h3 img{ float:right;}
.monthly_inquire ul.monthly_inquire_inner{position:relative; width:100%;  overflow:hidden; }
.monthly_inquire ul.monthly_inquire_inner li{ border-bottom:solid 1px #f0f0f0; padding-bottom:3px; margin-bottom:2px;  font-size:14px; text-align: left;}
.monthly_inquire ul.monthly_inquire_inner li a{ color:#111;}
.monthly_inquire ul.monthly_inquire_inner li a span.monthly_title{position: relative;

	top: -2px;
	
	display: inline-block;
	
	vertical-align: middle;
	
	margin-left: 7px;
	
	letter-spacing: -1px;
	
	overflow: hidden;
	
	text-overflow: ellipsis;
	
	white-space: nowrap;
	
	margin-right: 22px;
	
	color: #333;
	
	padding-right: 10px;
	
	min-width: 220px;
	
	text-align: left; }
.monthly_inquire ul.monthly_inquire_inner li a span.monthly_title img{ position:relative; left:0px; top:4px; display:inline-block; margin-left:5px;}
.monthly_inquire ul.monthly_inquire_inner li a span.monthly_date{ color:#a8a8a8; font-size:13px;}
.primium_banner{ float:left;  width:33.3%; height:180px; padding:20px 1.5%}

.main_tab_cont{float:left; width:33.3%; height:180px; padding:20px 1.5%}
.main_tab_cont .nav-tabs .nav-item{width:50%;}
.main_tab_cont .nav-tabs .nav-link:hover{ border:1;}
.main_tab_cont .nav-tabs .nav-link.active{background-color: #fff;

	border-color: #0052a4 #dee2e6 #fff;
	
	border-top-width: 5px;
	
	color: #0052a4;
	
	font-weight: bold;}

.more-plus {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 30px;
	height: 30px;
	-webkit-transition: background 0.1s;
	transition: background 0.1s;
	color: #FFF;
	background: #CBCBCB
}
.main-guide-list li:hover .more-plus, .more-plus:hover {
	background: #4c78ea
}

.more-plus:before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	width: 1px;
	height: 54.5%;
	margin: auto;
	content: '';
	background: #FFF
}
.more-plus:after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	width: 54.5%;
	height: 1px;
	margin: auto;
	content: '';
	background: #FFF
}
.more-plus .wa-ir {
	position: absolute;
	z-index: -1;
	top: 100%;
	left: 100%;
	display: none
}
.main_middle_layout{background-color: #fff;width:100%; }
.main_middle_cont{width:100%; max-width:1200px; background-color: #fff; margin:50px auto 10px;}
.main_middle_cont .total_area h6{ font-size: 22px; text-align: left; color:#454545; font-weight: normal; /*background: url(http://lawcredit.co.kr/images/map.png) 0px 2px no-repeat; background-size:28px;  padding-left: 30px;*/ margin-bottom: 10px;}
.main_middle_cont .total_area h6 a{color:#333; font-weight: bold; float: right; border:1px solid #ccc; font-size: 14px; padding:5px 10px; margin-right:5px;}
.main_middle_cont .total_area{width:50%;}
.main_middle_cont .total_area table{ border-bottom:1px solid #ccc;}
.main_middle_cont .total_area table tr th{ padding:10px;  font-weight:normal; height:39px; border-top:solid 1px #696969; border-bottom:solid 1px #696969; color:#757575; }
.main_middle_cont .total_area table tr td{padding:5px !important; line-height:25px; font-size: 15px;}
.main_middle_cont .total_area table tr td.area{text-align: center; color:#009397}
.main_middle_cont .total_area table tr th.area{ text-align: center}
.main_middle_cont .total_area table tr th.text-left{ text-align: center !important; }
.main_middle_cont .total_area table tr td.text-left{padding:10px !important }
.main_middle_cont .total_area table tr td.text-left div{text-overflow:ellipsis;
  white-space:nowrap;
  word-wrap:normal;
  width:300px;
  overflow:hidden;}
.main_middle_cont .total_consult h6{ font-size: 22px; text-align: left;font-weight: normal; color:#454545;/* background: url(http://lawcredit.co.kr/images/online-support.png) 0px 2px no-repeat; background-size:28px;  padding-left: 34px;*/ margin-bottom: 10px;}
.main_middle_cont .total_consult h6 a{color:#333; font-weight: bold; float: right; border:1px solid #ccc; font-size: 14px; padding:5px 10px; margin-right:5px;}
.main_middle_cont .total_consult{width:100%;}
.main_middle_cont .total_consult table{ border-bottom:1px solid #ccc;}
.main_middle_cont .total_consult table tr th{padding:10px;  font-weight:normal; height:39px; border-top:solid 1px #696969; border-bottom:solid 1px #ccc; color:#757575; }
.main_middle_cont .total_consult  table tr td{padding:10px !important; line-height:25px; font-size: 15px;}
.main_middle_cont .total_consult table tr th.text-left{ text-align: center !important;  }
.main_middle_cont .total_consult table tr td.text-left{width:450px;}



.list_product {width:1200px}
.list_product:after {display:table;clear:both;content:"";table-layout:fixed}
.list_product li {float:left;position:relative;margin:0 0.5%;width:19%}
.list_product .box_product {overflow:hidden;position:absolute;top:0;left:0;padding:0 ;width:100%;height:100%;box-sizing:border-box;background:#fff}
.list_product .box_product:after {position:absolute;top:0;right:0;bottom:0;left:0;content:""}
.list_product .box_product .link_box {position:absolute;top:0;left:0;z-index:10;width:100%;height:100%;background-color:#fff;filter:alpha(Opacity=0);opacity:0}

.list_product .open .box_product:after{border-top:0}
.list_product .open .box_product:hover {z-index:15}
.list_product .product_logo {position: relative;display:none;overflow:hidden;width:100%;font-weight:bold;color:#444;text-overflow:ellipsis;white-space:nowrap;text-align:center}
.list_product .product_logo img {display:inline-block; width:100%;}
.list_product .lawyer_name {overflow:hidden;width:100%;font-weight:bold; margin-top:15px; width:100%; padding:10px; background-color: #fff; border-radius: 5px; position: relative; }
.list_product .poduct_info{width:100%; margin:0 auto;}
.list_product .poduct_info .main_platium_info{ position: absolute; bottom:0; left:0; background-color: #edf0f0; padding:10px; width:100%;}
.list_product .poduct_info .main_platium_info img{margin-bottom: 1px; margin-right:2px;}
.list_product .poduct_tit {display:block;overflow:hidden;color:#444;font-weight:bold;text-overflow:ellipsis;white-space:nowrap; font-size: 18px; text-align: left; }
.list_product .product_desc {display:block;overflow:hidden;color:#444;font-size: 12px; text-align: left;width:100%;padding:0 10px}
.list_product .product_desc span{ display: inline-block; width:100%; text-align: center; padding-top:10px; color:#858585; font-size: 15px;}
.list_product .product_desc.open{display:none}
.list_product .product_desc.open .txt {display:block;overflow:hidden;}
.list_product .open .box_product:hover .wrap_desc {display:block}
.list_product .category_part{width:auto; float:left;  border:1px solid #ea680f;  margin-right:2px; }
.list_product .category_part .btn{color:#ea680f; font-size: 13px; padding: 1px 5px; text-align: center;  }
.list_product .wrap_desc {display:none;overflow:hidden;position:absolute;left:0;z-index:999;width:100%;box-sizing:border-box}
.list_product .wrap_desc .txt_desc {display:block;overflow:hidden;color:#fff;font-size:14px;line-height:1;text-overflow:ellipsis;white-space:nowrap}
.list_product .thumb_product {display:none;overflow:hidden;position:absolute;z-index:1;border-radius:50%;background:#fff}
.list_product .bg {position:absolute;bottom:-280px;left:0;z-index:99;width:303px;height:100px;-webkit-transition:initial;transition:initial}
.list_product .bg:before {position:absolute;top:0px;left:0;width:100%;height:100%;background:#009397;content:""}
.list_product .open .box_product:hover .bg {-webkit-transition:bottom .1s cubic-bezier(0.19, 1, 0.22, 1);transition:bottom .1s cubic-bezier(0.19, 1, 0.22, 1)}

.main_premium_cont{ width:100%; margin:0 auto; float:left;}

.main_premium_cont .plate_cont{width:1200px; margin:0px auto; padding:10px 0;}
.platinum {padding:0px 0 40px;}
.platinum .list_product {margin-top:-3px}
.platinum .list_product li {margin-top:10px;height:210px; cursor: pointer;}
.platinum .box_product:after {border:1px solid #e6e6e4}
.platinum .box_product:hover:after {border:2px solid #009397}
.platinum .open .box_product:before {background:#b7b7b7}
.platinum .open .box_product:after {border:1px solid #b7b7b7}
/*.platinum .open .box_product:hover {height:422px}*/
.platinum .open .box_product:hover:before {background:#009397}
.platinum .open .box_product:hover:after {border:1px solid #009397}
.platinum .product_logo {margin:0px auto;font-size:22px;line-height:56px}
.platinum .service_text{margin-top:17px; font-size: 17px; color:#4c78ea; text-align: left;}
.platinum .poduct_tit {margin-top:0px;line-height:17px; margin-bottom: 10px;}
.platinum .product_desc {margin-top:2px;font-size:14px;line-height:20px;  margin:0 auto; word-break: keep-all;}
.platinum .product_desc.open {width:195px}
.platinum .open .box_product:hover .thumb_product {display:block;right:22px;bottom:124px;width:110px;height:110px}
.platinum .wrap_desc {bottom:0px;padding:12px}
.platinum .wrap_desc .com_title_text {width:50%; float:left; text-align: left;}
.platinum .wrap_desc .com_more{width:50%; float:left; text-align: right;}
.platinum .btn_scrap {bottom:20px;left:22px}
.platinum .recruit_func {bottom:18px}
.platinum .list_product .bg:before {-webkit-transform:skew(0deg, -0deg);-ms-transform:skew(0deg, -0deg);transform:skew(0deg, -0deg);content:""}
.platinum .list_product .open .box_product:hover .bg {bottom:-59px}
.platinum .main_platium_bottom{width:100%; margin:10px auto 0; border-bottom:1px solid #ccc;overflow: hidden; text-align: center;}
.platinum .main_platium_bottom .txt{width:100%;float:left; padding:8px 0;padding: 13px 0; color:#009397; font-size: 20px;}
.platinum .main_platium_bottom .txt2{width:50%;float:left; padding:8px 0; text-align: right; display: block}
.platinum .main_platium_bottom .txt2 a{float:left; width:49%; color:#fff; background-color: #0052a4; padding:3px; text-align:center; border:1px solid #0052a4}
.platinum .main_platium_bottom .txt2 a.direct_btn{ background-color: #fff; color:#0052a4; margin-left:2px;}



.left_banner{max-width:380px; float:left; margin-right:30px;}

.left_banner .premium_cont{float:left;width: 380px; overflow: hidden; }

.left_banner .premium_cont h6{ text-align: left; font-size: 22px; color:#474747; }
.left_banner .premium_cont .premium_banner{width:100%;  min-height: 200px;  border:1px solid #ccc;  background:#fff url(http://192.168.1.220:8080/images/premium_banner_bg.png) no-repeat 10px top;} 
.left_banner .premium_cont .VueCarousel-pagination{position: absolute;top: 10px; display:none;}
.left_banner .product_top_cont{width:1200px; margin:30px auto; overflow: hidden;}
.left_banner .premium_banner .premium_text{display: inline-block; padding-top:40px;  font-size: 22px; font-weight: bold; text-align:left; padding-bottom:10px; border-bottom:1px solid #ccc;}	
.premium_text .divison_icon{ max-width:100px; border:1px solid #ce6820; color:#ce6820; border-radius: 5px; text-align: center; padding:2px 5px; font-size: 12px; float:left;margin-right:2px; font-weight: normal}
.premium_text .divison_icon .btn{padding:0; } 
.premium_text .pre_title{width:100%; float:left; margin-top:5px; text-align:left;}
.premium_text span{width:100%;}
.premium_text .keyword{font-size: 15px; color:#848484; width:100%; float:left; font-weight: normal; line-height: 20px; max-height: 40px; overflow: hidden;}
.middle_banner{width: 380px;float: left;margin-right: 30px;}
.middle_banner h6{ text-align: left; font-size: 22px; color:#474747; }
.middle_banner .main_md_tab_cont{background-color: #fff; 	border: 1px solid #ccc; min-height: 230px; overflow: hidden;}
.middle_banner .nav-tabs .nav-item{width:50%; font-size: 16px; }
.middle_banner .nav-tabs .nav-link.active{border-top:3px solid #009397; background-color: #fff; color:#009397}
.middle_banner .nav-tabs .nav-link{ border-radius: 0; padding:12px 20px; background-color: #edf0f0}
.middle_banner .main_area_layout{padding:10px 20px 0; overflow: hidden;}
.middle_banner .main_area_btn .btn{width:50px; text-align: center; float:left; padding: 3px 8px 5px; border:1px solid #ccc; border-radius: 20px; margin:5px 3px;}
.middle_banner .main_area_btn .btn:hover{border: 1px solid #009397; color:#009397}
.middle_banner .main_kind_btn .btn{width:auto; text-align: center; float:left; padding: 3px 8px 5px; border:1px solid #ccc; border-radius: 20px; margin:5px 3px;}
.middle_banner .main_kind_btn .btn:hover{border: 1px solid #009397; color:#009397}
.middle_banner .main_area_link{margin-top:10px; padding-top:5px; border-top:1px solid #ccc; float:left; width:340px; margin:5px 20px 0; text-align: right; color:#757575 !important; }

.lawyer_banner{width:100%; margin-bottom:20px; border:1px solid #eaeaea; padding:10px; min-height: 150px;}
.area_kind_banner{width:100%; border:1px solid #eaeaea; overflow: hidden; padding: 10px 0;}
.area_main_cont{width:50%; float:left; padding:10px; border-right:1px solid #ccc;} 
.area_main_cont h5{ font-size:15px; color:#0052a4; margin-bottom:10px; }
.area_main_cont ul{width:100%;}
.area_main_cont ul li{width:16.6%; float:left;}
.area_main_cont ul li button{width:90%;margin:0 5% 5px; font-size: 13px; border:1px solid #ddd; border-radius: 30px;}
.area_main_cont ul li button:hover{background-color: #009397}
.kind_main_cont{width:50%; float:left; padding:10px;}
.kind_main_cont h5{ font-size:15px; color:#009397; margin-bottom:10px; }
.kind_main_cont li{width:32.3%; float:left; margin:0 0.5% 4px; }
.kind_main_cont li button{width:100%;}

.right_banner{max-width:380px; width:35%; float:left;}
.right_banner .login_cont{width:100%; padding:25px;border:1px solid #eaeaea; min-height: 134px; overflow: hidden; position: relative; }
.right_banner .login_cont .find_btn{top:25px; position: absolute; right:22px; font-size: 12px; }
.right_banner .login_cont .find_btn a{ margin:0 3px; color:#999}
.right_banner .login_cont .find_btn a.join{color:#333;}
.right_banner .login_cont .login_input{width:80%;float:left;}
.right_banner .login_cont .login_btn{width:20%; float:left;}
.right_banner .login_cont .login_btn button{width:100%; min-height: 80px; border-radius: 0; background-color: #f8f8f8; color:#333 ; border:1px solid #ccc; letter-spacing: -1px;}
.login_cont .nav-tabs{border:0; margin-bottom:8px;}
.login_cont .form-control{width:100%; border-radius: 0; float:left; height: 40px; font-size: 13px;}
.login_cont .nav-tabs .nav-link{border:0;font-size: 12px; padding:3px 7px; border:1px solid #ccc; border-radius: 0; min-width: 50px;}
.login_cont .nav-tabs .nav-link.active{border:1px solid #ccc; padding:3px 7px; border-radius: 0; font-size: 12px; color:#333; background-color: #f8f8f8;}

.main_foot_cont{width:100%; background-color: #f3f7f8;padding:50px 0; overflow: hidden; }
.main_foot_cont_layout{width:1200px; margin:0 auto;}
.main_foot_cont_layout h6{ text-align: left; font-size: 20px;margin-bottom:15px;  }
.main_foot_cont_layout .notice_cont{width:33.3%; float:left; border-right: 1px solid #ccc; padding:0 30px;}

.main_foot_cont_layout .notice_cont ul{width:100%; margin:0 auto;}
.main_foot_cont_layout .notice_cont ul li{width:100%; float:left; text-align: left; margin-bottom:5px;}

.main_foot_cont_layout .quick_banner{width:33.3%; float:left; border-right: 1px solid #ccc;padding:0 30px;}

.main_foot_cont_layout .quick_banner ul{width:100%; margin:20px auto 0; overflow: hidden;}
.main_foot_cont_layout .quick_banner ul li{width:33.3%; float:left; text-align: left; margin-bottom:5px; text-align:center; cursor: pointer;}
.main_foot_cont_layout .quick_banner ul li a{ display: inline-block;min-width: 90px;}
.main_foot_cont_layout .quick_banner ul li a.icon1{ background:url(http://192.168.1.220:8080/images/main_footer_cont_icon_01.png) no-repeat center top; padding-top:70px; }
.main_foot_cont_layout .quick_banner ul li a.icon2{ background:url(http://192.168.1.220:8080/images/main_footer_cont_icon_02.png) no-repeat center top; padding-top:70px; }
.main_foot_cont_layout .quick_banner ul li a.icon3{ background:url(http://192.168.1.220:8080/images/main_footer_cont_icon_03.png) no-repeat center top; padding-top:70px; }


.main_foot_cont_layout .cutomer_center{width:33.4%; float:left;padding:0 30px;}
.main_foot_cont_layout .cutomer_center p{padding:7px 0; text-align: left; font-size: 18px;display: inline-block;

width: 100%;}
.main_foot_cont_layout .cutomer_center p span{ display: inline-block; margin-right: 20px;}
.main_foot_cont_layout .cutomer_center .main_cutomer_icon1{margin-top:10px;background:url(http://192.168.1.220:8080/images/main_customer_bg_01.png) no-repeat left top; padding-left:35px;}
.main_foot_cont_layout .cutomer_center .main_cutomer_icon2{background:url(http://192.168.1.220:8080/images/main_customer_bg_02.png) no-repeat left 12px; padding-left:35px;}

/* foot_menu */
.footer_menu_layout{width:100%; margin:0 auto; overflow: hidden; background-color: #fff;}
div.foot_menu{ clear:both; position:relative; width:1200px; height:502px; margin:0px auto; margin-top:20px; border-top:solid 1px #696969; }
div.foot_menu div.section01{position:relative; float:left; width:33.3%;  height:403px; padding:35px 23px 0px 0px; border-right:solid 1px #e8e8e8; }
div.foot_menu div.section01 h4{ float:left; font-size:22px; font-family:"notom"; font-weight:normal;}
div.foot_menu div.section01 h4:after{ content:""; display:block; clear:both; width:23px; height:2px; background:#25a3db; margin-top:15px; margin-bottom:32px; }
div.foot_menu div.section01 > span{ float:right; }
div.foot_menu div.section01 div.foot_cs_num{clear:both; text-align: left;}
div.foot_menu div.section01 div.foot_cs_num p{ font-size:16px; line-height:30px; }
div.foot_menu div.section01 div.foot_cs_num p span.cs_num_01{ font-size:34px; margin-left:10px; color:#25a3db;font-family: "notob";}
div.foot_menu div.section01 div.foot_cs_num p span.cs_num_02{ font-size:21px; margin-left:12px; font-family: "notom";}
div.foot_menu div.section01 div.foot_cs_num p.fax{ font-family: "Malgun Gothic","돋움",Dotum,sans-serif; letter-spacing:-1.5px; font-size:14px; line-height:18px; margin-top:40px; color:#000; }
div.foot_menu div.section01 div.foot_cs_num p.fax span{ margin:0px 3px; opacity:0.2;}

div.foot_menu div.section01 div.foot_cs_num p.fax i{ font-style:normal; letter-spacing:0px;}

div.foot_menu div.section01 div.foot_cs_num div.foot_account{ width:294px; height:87px; background:url(http://대출나라.com/img/inc/foot_account_bg.png) no-repeat; margin-top:30px;}
div.foot_menu div.section01 div.foot_cs_num div.foot_account p{ font-family: "Malgun Gothic","돋움",Dotum,sans-serif; font-size:14px; letter-spacing:-1.5px; line-height:18px; color:#696969; padding:52px 0px 0px 10px; }
div.foot_menu div.section01 div.foot_cs_num div.foot_account p span{margin:0px 4px; opacity:0.2; font-family: "Malgun Gothic","돋움",Dotum,sans-serif;}
div.foot_menu div.section02{position:relative; float:left; width:33.3%;  height:368px; padding:35px; border-right:solid 1px #e8e8e8; }
div.foot_menu div.section02 .foot_news{ position:relative; border-bottom:solid 1px #e8e8e8; padding-bottom:30px;}
div.foot_menu div.section02 .foot_news h4{ float:left;  font-size:22px; font-family:"notom"; font-weight:normal;margin-bottom:10px;}
div.foot_menu div.section02 .foot_news > span{ float:right; }
div.foot_menu div.section02 .foot_news ul{clear:both; }
div.foot_menu div.section02 .foot_news ul li:before{ content:""; width:2px; height:2px; background:#727272; display:inline-block; vertical-align:middle; }
div.foot_menu div.section02 .foot_news ul li{ padding-bottom:4px; text-align: left; }
div.foot_menu div.section02 .foot_news ul li a{  letter-spacing:-1px; color:#000; font-size:14.5px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;  width:50%; display:inline-block; vertical-align:middle; padding-left:7px;}
div.foot_menu div.section02 .foot_news ul li a img{ vertical-align:middle; margin-left:3px; padding-bottom:3px;}
div.foot_menu div.section02 .foot_news ul li span{float:right; font-size:14.5px; color:#b7b7b7; margin-top:2px; font-family: "Malgun Gothic","돋움",Dotum,sans-serif; letter-spacing:-0.5px;}
div.foot_menu div.section02 .foot_notice{ position:relative; padding-top:20px;}
div.foot_menu div.section02 .foot_notice h4{ float:left;  font-size:22px; font-family:"notom"; font-weight:normal; margin-bottom:10px;}
div.foot_menu div.section02 .foot_notice > span{ float:right; }
div.foot_menu div.section02 .foot_notice ul{clear:both; }
div.foot_menu div.section02 .foot_notice ul li:before{ content:""; width:2px; height:2px; background:#727272; display:inline-block; vertical-align:middle; }
div.foot_menu div.section02 .foot_notice ul li{ padding-bottom:4px; text-align: left; }
div.foot_menu div.section02 .foot_notice ul li a{  letter-spacing:-1px; color:#000; font-size:14.5px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;  width:50%; display:inline-block; vertical-align:middle; padding-left:7px;}
div.foot_menu div.section02 .foot_notice ul li a img{ vertical-align:middle; margin-left:3px; padding-bottom:3px; }
div.foot_menu div.section02 .foot_notice ul li span{  float:right; font-size:14.5px; color:#b7b7b7; margin-top:2px; letter-spacing:-0.5px; }
div.foot_menu div.section03{position:relative; float:left; width:33.3%; height:403px; padding:35px 0px 0px 23px; }
div.foot_menu div.section03 .foot_qna  h4{ float:left;  font-size:22px; font-family:"notom"; font-weight:normal; margin-bottom:5px; }
div.foot_menu div.section03 .foot_qna > span{ float:right; }
div.foot_menu div.section03 .foot_qna ul{clear:both; margin-bottom:69px; }
div.foot_menu div.section03 .foot_qna ul li:before{ content:""; width:2px; height:2px; background:#727272; display:inline-block; vertical-align:middle; }
div.foot_menu div.section03 .foot_qna ul li{ padding-bottom:4px; }
div.foot_menu div.section03 .foot_qna ul li a{ font-family: "Malgun Gothic","돋움",Dotum,sans-serif; letter-spacing:-1px; color:#000; font-size:14.5px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;  width:180px; display:inline-block; vertical-align:middle; padding-left:7px;}
div.foot_menu div.section03 .foot_qna ul li a img{ vertical-align:middle; margin-left:3px; padding-bottom:3px; }
div.foot_menu div.section03 .foot_qna ul li span{ font-family: "Malgun Gothic","돋움",Dotum,sans-serif;float:right; font-size:14.5px; color:#b7b7b7; margin-top:2px; letter-spacing:-0.5px;}
div.foot_menu div.section03 .foot_quick  h4{ float:left;  font-size:22px; font-family:"notom"; font-weight:normal; margin-bottom:25px; }
div.foot_menu div.section03 .foot_quick ul{ position:relative; clear:both;}
div.foot_menu div.section03 .foot_quick ul li{ width:33.3%; float:left; margin-right:15px;}
div.foot_menu div.section03 .foot_quick ul li:last-child{margin-right:0px;}
div.foot_menu div.section03 .foot_quick ul li a{color:#000; text-align:center; float:left; padding-top:60px; position:relative; top:-60px; font-family: "Malgun Gothic","돋움",Dotum,sans-serif; letter-spacing:-1.5px; font-weight:600; font-size:14px; }
div.foot_menu div.section03 .foot_quick ul li.foot_quick01{ position:absolute; top:0px; left:5px;}
div.foot_menu div.section03 .foot_quick ul li.foot_quick02{ position:absolute; top:0px; left:108px;}
div.foot_menu div.section03 .foot_quick ul li.foot_quick03{ position:absolute; top:0px; left:186px;}
div.foot_menu div.section03 .foot_quick ul li.foot_quick01:before{content:""; display:block; width:63px; height:63px; background:url(http://대출나라.com/img/inc/foot_quick_icon.png) no-repeat; margin-left:-5px; margin-bottom:4px; }
div.foot_menu div.section03 .foot_quick ul li.foot_quick02:before{content:""; display:block; width:63px; height:63px; background:url(http://대출나라.com/img/inc/foot_quick_icon.png) no-repeat; background-position:-64px 0px; margin-left:-10px; margin-bottom:4px; }
div.foot_menu div.section03 .foot_quick ul li.foot_quick03:before{content:""; display:block; width:63px; height:63px; background:url(http://대출나라.com/img/inc/foot_quick_icon.png) no-repeat; background-position:-128px 0px; margin-left:10px; margin-bottom:4px; }
div.foot_menu div.section04{ clear:both; position:relative; width:1200px; height:63px; border-top:solid 1px #e8e8e8; }
div.foot_menu div.section04 p{ display:inline; line-height:58px;  letter-spacing:-1px; font-weight:600; font-size:14px; letter-spacing:-1.5px;  }
div.foot_menu div.section04 p span.tip_box{ background:#0052a4; color:#fff; padding:0px 7px; border-radius:2px; margin-right:10px; font-family: "notom"; }
div.foot_menu div.section04 p span{ color:#0052a4;}
div.foot_menu div.section04 p.foot_tip_btn a{ color:#000;  font-size:14px; letter-spacing:-1.5px; font-weight:600; position:absolute; right:0px; top:12px; display:inline-block; padding:10px 45px 12px 27px; border:solid 1px #e1e1e1; background:url(http://대출나라.com/img/inc/foot_tip_btnicon.png) 145px 13px no-repeat; line-height:14px; }



/* sub_page */
.sub_top_title{font-size:26px;  margin:0px auto; text-align: left; width: 100%;}
.sub_top_title .sub_navi{ font-size: 13px; font-weight: normal;  float: right; color:#777; letter-spacing: 0.1px; margin-top:10px; padding-right:10px; }
.sub_top_title .sub_navi strong{ font-weight: bold; color:#25a3db}

/* 지역별 업체검색 */
.area_cont{width:1200px; margin:30px auto 50px; overflow: hidden;}
.area_cont .sub_top_title{line-height: 45px;
	padding-left: 60px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
	padding-bottom: 5px;
	background: url(http://192.168.1.220:8080/images/customer_title_bg.png) no-repeat left;
	min-height: 40px; width:1200px;}
.lawyer_img{width:100px; margin-right:20px; min-height: 100px; float:left; border:1px solid #ccc; border-radius: 50%; margin-top:50px; overflow: hidden;}
.lawyer_img img{width:100%; height: auto;}
.pre_banner_cont{padding:0 20px; min-height:187px; cursor: pointer;}
.pre_detail_btn{ background-color: #edf0f0; text-align: center; font-size: 14px; color:#666; padding:10px;width: 100%; float: left;  cursor: pointer;}
.pre_banner_info{width:218px; float: right;}
.pre_banner_info .premium_banner_bottom{width:100%;}
.pre_banner_info .premium_banner_bottom .pre_name{ text-align: left; color:#529295; font-size: 14px; font-weight: bold;}
.area_cont .premium_cont{float:left;width: 380px; overflow: hidden; }
.area_cont .premium_cont h6{ text-align: left; font-size: 22px; color:#474747; }
.area_cont .premium_cont .premium_banner{width:100%;  min-height: 200px;  border:1px solid #ccc;  background: url(http://192.168.1.220:8080/images/premium_banner_bg.png) no-repeat 10px top;} 
.area_cont .premium_cont .VueCarousel-pagination{position: absolute;
	top: 10px; display:none;
	}
.area_cont .product_top_cont{width:1200px; margin:30px auto; overflow: hidden;}
.area_cont .premium_banner .premium_text{display: inline-block; padding-top:40px;  font-size: 22px; font-weight: bold; text-align:left; padding-bottom:10px; border-bottom:1px solid #ccc;}	
.area_cont .premium_text .divison_icon{ max-width:100px; border:1px solid #ce6820; color:#ce6820; border-radius: 5px; text-align: center; padding:2px; font-size: 12px; float:left;margin-right:2px;}
.premium_text .divison_icon .btn{padding:0; } 
.premium_text .pre_title{width:100%; float:left; margin-top:5px; text-align:left;}
.premium_text span{width:100%;}
.premium_text .keyword{font-size: 15px; color:#848484; width:100%; float:left; font-weight: normal; line-height: 20px; max-height: 40px; overflow: hidden;}
.sub_top_cont{width:100%; margin:0 auto; overflow: hidden; margin-bottom:50px;}
.sub_top_cont .sub_banner{width:30%; float:left; border:1px solid #ccc; }
.sub_top_cont .sub_banner .main_top_lawyer_img{max-width: 50%; margin-top:20px;}
.sub_top_cont .sub_banner .main_top_com_info{width:50%; margin-top:0;}
.sub_top_cont .area_btn_layout{width: 800px;
	float: left;
	margin-left: 20px;
	min-height: 195px;}
.sub_top_cont .area_btn_layout h6{ text-align: left; font-size: 22px; color:#474747; }
.sub_top_cont .area_btn_layout .area_btn a{width:12.1%; padding:5px; border-radius: 20px; margin:0 10px 15px; text-align: center;border:1px solid #ccc; display: inline-block;  }
.sub_top_cont .area_btn_layout .area_btn a:hover{ font-weight: bold; color:#009397; border:1px solid #009397}
.sub_top_cont .area_btn_layout .area_btn a:active { background-color: #009397; color:#fff;}
.customer_bottom table tr th.td_area_title{ text-align: center;
	width: 55% !important;}
.area_btn{width:790px; border:1px solid #ccc; min-height: 230px; padding: 50px 30px 30px 200px;
	background: url(http://192.168.1.220:8080/images/area_map_bg.png) no-repeat 30px 40px; }
.area_company{width:100%; margin:0 auto 50px; padding:50px 0; background-color: #f3f3f3;}
.area_company .img-fluid{height:80px;}
.area_company h6{font-size: 24px; margin-bottom: 15px;}
.area_company h6 span{ color:#009397}


.sub_area_com_info{width:1200px; margin:0 auto;}
.sub_area_com_info .sub_area_com_infoTop{width:100%; margin:0 auto; border-top:3px solid #0052a4; overflow: hidden; border-bottom:1px solid #000;}
.sub_area_com_info .sub_area_com_infoTop h6{padding:15px 0 20px; font-size: 30px; text-align: center; border-bottom: 1px solid #ededed; margin-bottom:0;}
.sub_area_com_info .sub_area_com_infoTop .top_info_lf{width:49%; margin:0 0.5%; float:left;}
.sub_area_com_info .sub_area_com_infoTop .top_info_lf dl{width:100%; margin:0 auto ;  padding:15px 5px ; text-align: left; font-size: 14px; float:left; border-bottom:1px solid #ededed;}
.sub_area_com_info .sub_area_com_infoTop .top_info_lf dl dt{width:22%; float:left; padding:0 5px; text-align: left; color:#666; font-weight: normal;}
.sub_area_com_info .sub_area_com_infoTop .top_info_lf dl dd{border-bottom:0;}
.area_address{width:100%; margin:0 auto;}
.area_address dl{width:100%; margin:0 auto ;  padding:15px 5px ; text-align: left; font-size: 14px; float:left; border-bottom:1px solid #ededed;}
.area_address dt{width:11%; float:left; padding:0 10px; text-align: left; color:#666; font-weight: normal;}
.area_address dd{border-bottom:0;}
.sub_area_com_infoBottom{width:100%; margin:30px auto 0; border-top:3px solid #0052a4;  padding-bottom:30px;}

.sub_area_com_infoBottom dl{width:100%;}
.sub_area_com_infoBottom dl dt{padding:15px 0; font-size: 24px; text-align: center; border-bottom: 1px solid #ededed; margin-bottom:0;}
.sub_area_com_infoBottom dl dd{text-align:left; padding:15px 0; border-bottom:1px solid #333;}
.list_btn{background-color: #009397;}
/* 상품별 업체검색*/
.product_cont{width:1200px; margin:30px auto 50px ; overflow: hidden;}
.detail_cont .btn{ background-color: #009397}
.product_cont .sub_top_title{line-height: 45px;
padding-left: 60px;
border-bottom: 1px solid #ccc;
margin-bottom: 20px;
padding-bottom: 5px;
background: url(http://192.168.1.220:8080/images/customer_title_bg.png) no-repeat left;
min-height: 40px; width:1200px;}
.product_cont .premium_cont{float:left;width: 380px; overflow: hidden; }
.product_cont .premium_cont h6{ text-align: left; font-size: 22px; color:#474747; }
.product_cont .premium_cont .premium_banner{width:100%;  min-height: 200px;  border:1px solid #ccc; background: url(http://192.168.1.220:8080/images/premium_banner_bg.png) no-repeat 10px top;} 
.product_cont .premium_cont .VueCarousel-pagination{position: absolute; display: none;
top: 10px;
}
.product_cont .product_top_cont{width:1200px; margin:0px auto; overflow: hidden;}
.product_cont .product_top_cont .premium_text{display: inline-block;
    padding-top: 40px;
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;}

.kind_btn_cont{width: 790px; margin-left:30px; overflow: hidden; float:left;}
 .kind_btn_cont h6{ text-align: left; font-size: 22px; color:#474747; }
.kind_btn_cont .kind_btn{width:100%; padding: 50px 30px 50px 180px; border:1px solid #ccc; overflow: hidden; min-height: 230px; background: url(http://192.168.1.220:8080/images/kind_btn_bg.png) no-repeat 50px center; }
.kind_btn_cont .kind_btn .btn{ border-radius: 30px; padding:5px 14px; margin-bottom: 10px; margin-right:3px; border:1px solid #e3e3e3;  float:left;  }
.kind_btn_cont .kind_btn .btn:hover{ border:1px solid #009397; background-color: transparent;color:#009397}
.product_top_cont p.advice{width:100%; text-align:right; margin:10px 0 0; float:left; color:#666}
.kind_bottom{width:1200px; margin:o auto;}
.kind_bottom .btn{ background-color: #009397}

/* 실시간 회생상담 */
.consult_cont{width:1200px; margin:30px auto 80px ;}
.consult_cont .sub_top_title{line-height: 45px;
padding-left: 60px;
border-bottom: 1px solid #ccc;

padding-bottom: 5px;
background: url(http://192.168.1.220:8080/images/consult_title_bg.png) no-repeat left;
min-height: 40px; }
.consult_cont .sub_top_title span{ font-size: 14px; float: right;color:#757575; font-weight: normal}
.consult_cont .consult_process{width:100%; margin:60px auto 100px; overflow: hidden; }
.consult_cont .consult_process dl{width:310px; float:left;  padding-right:40px; background: url(http://192.168.1.220:8080/images/process_arrow_bg.png) no-repeat right center}
.consult_cont .consult_process dl:last-child{ background: none; padding-right:0; width:270px;}
.consult_cont .consult_process dl dt{border-radius: 5px 5px 0px 0;width:100%; text-align: center; padding:10px; background-color: #a5a5a5; border:1px solid #ccc; color:#fff; font-size: 18px;}
.consult_cont .consult_process dl dd{border-radius: 0px 0px 5px 5px; color:#858585; min-height: 328px; padding:200px 20px 20px; text-align: center; border:1px solid #ccc; text-align: center; word-break: keep-all}
.consult_cont .consult_process dl dd.bg1{ background:#f9f9f9 url(http://192.168.1.220:8080/images/consult_process_bg_01.png) no-repeat center 45px;}
.consult_cont .consult_process dl dd.bg2{ background:#f9f9f9 url(http://192.168.1.220:8080/images/consult_process_bg_02.png) no-repeat center 45px;}
.consult_cont .consult_process dl dd.bg3{ background:#f9f9f9 url(http://192.168.1.220:8080/images/consult_process_bg_03.png) no-repeat center 45px;}
.consult_cont .consult_process dl dd.bg4{ background:#f9f9f9 url(http://192.168.1.220:8080/images/consult_process_bg_04.png) no-repeat center 45px;}
.consult_cont .consult_process dl dd span{ color:#454545; font-size: 20px; margin-bottom:10px; width:100%; text-align: center; display: inline-block }
.customer_cont .customer_info{width:1200px; margin:30px auto; overflow: hidden;}

/* 맞춤 검색 */
.customer_cont{width:100%; margin:0px auto ;}
.customer_cont .customer_top_layout{width:100%; background-color: #f3f4f8; padding:30px 0;}
.customer_cont .customer_top{width:1200px; margin:0 auto; }
.customer_cont .customer_top .sub_top_title{line-height: 45px;
padding-left: 60px;
border-bottom: 1px solid #ccc;
margin-bottom: 20px;
padding-bottom: 5px;
background: url(http://192.168.1.220:8080/images/customer_title_bg.png) no-repeat left;
min-height: 40px;}
.search_btn_layout{width:100%; margin:0 auto; overflow: hidden; border:1px solid #ccc; background-color: #fff; }
.search_btn{width:100%; margin:10px auto;}
.area_search_btn{width:50%; float:left; padding:30px; border-right:1px solid #ccc; text-align: left;}
.area_search_btn p{ font-size: 20px; color:#333; text-align: left; padding-bottom:10px;}
.area_search_btn .btn{min-width: 53px; float:left; text-align: center;  border-radius: 30px; padding:5px 12px; margin-bottom: 10px; margin-left:5px; border:1px solid #e3e3e3 !important; }
.area_search_btn .btn:hover{ border:1px solid #009397; background-color: transparent;color:#009397}

.category_btn{width:50%; float:left; padding:30px; text-align: left;}
.category_btn p{ font-size: 20px; color:#333; text-align: left; padding-bottom:10px;}
.category_btn .btn{ border-radius: 30px; padding:5px 14px; margin-bottom: 10px; margin-left:5px; border:1px solid #e3e3e3;  float:left;  }
.category_btn .btn:hover{ border:1px solid #009397; background-color: transparent;color:#009397}
.customer_top .btn-info{width:270px; border-radius: 0px; text-align: center; padding:15px 0; font-size: 18px; background-color: #009397; border:1px solid #009397;margin-top:20px; }
.customer_top .btn-info:hover{ background-color:#5fc383;}
.customer_bottom{width:1200px; margin:0 auto; overflow: hidden; margin:40px auto;}
.customer_bottom h5{font-size: 25px; margin-bottom: 20px; text-align: left;}
.customer_bottom h5 span{color:#009397; font-size: 28px;}

/* 질문과 답변 */
.question_cont{width:1200px; margin:0px auto ;}

/* 자주묻는질문 */
.faq_cont{width:1200px; margin:30px auto ; overflow: hidden;}
.faq_cont .sub_top_title{line-height: 45px;
padding-left: 60px;
border-bottom: 1px solid #ccc;

padding-bottom: 5px;
background: url(http://192.168.1.220:8080/images/faq_title_bg.png) no-repeat left;
min-height: 40px; }
.faq_layout{margin:0 auto; overflow: hidden;} 
.faq_tabs .nav-tabs .nav-item{width:50%; font-size: 20px; color:#555555;  }
.faq_tabs .nav-tabs{ border:1px solid #ccc; margin-bottom: 20px;}
.faq_tabs .nav-tabs .nav-link{padding:20px;}
.faq_tabs .nav-tabs .nav-link.active{ background-color: #555a68; color:#fff; font-weight: bold; border:0; border-radius: 0;    min-height: 72px;}
.faq_footer_banner{width:100%; float:left; margin-top:50px; overflow: hidden;}
.faq_footer_banner p{ font-size: 25px; color:#555555; text-align: left; margin-bottom:10px;}
.faq_footer_banner .faq_onetoone_banner{width:450px; float:left; margin-right: 20px; min-height: 160px; cursor: pointer; padding-left:165px; border-top:3px solid #cdcdcd; background:#f4f4f4 url(http://192.168.1.220:8080/images/faq_banner_bg_01.png) no-repeat 30px center;}
.faq_footer_banner .faq_onetoone_banner dl{width:100%; overflow: hidden; padding-top:30px; color:#555555;}
.faq_footer_banner .faq_onetoone_banner dl:hover{color:#009397}
.faq_footer_banner .faq_onetoone_banner dt{font-size: 20px;  text-align: left; margin-bottom:10px; font-weight: bold;}
.faq_footer_banner .faq_onetoone_banner dd{font-size:16px;  text-align: left;}
.faq_footer_banner .faq_customer_banenr{width:450px; float:left; margin-left: 20px; min-height: 160px; cursor: pointer; padding-left:165px; border-top:3px solid #cdcdcd; background:#f4f4f4 url(http://192.168.1.220:8080/images/faq_banner_bg_02.png) no-repeat 30px center;}
.faq_footer_banner .faq_customer_banenr dl{width:100%; overflow: hidden; padding-top:30px; color:#555555;}
.faq_footer_banner .faq_customer_banenr dl:hover{color:#009397}
.faq_footer_banner .faq_customer_banenr dt{font-size: 20px;  text-align: left; margin-bottom:10px; font-weight: bold;}
.faq_footer_banner .faq_customer_banenr dd{font-size:16px;  text-align: left;}



/* 의뢰인 이용안내 */
.user_cont{width:1200px; margin:30px auto 0; overflow: hidden;}
.user_cont .sub_top_title{line-height: 45px;
	padding-left: 60px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
	padding-bottom: 5px;
	background: url(http://192.168.1.220:8080/images/use_info_bg.png) no-repeat left;
	min-height: 40px;}
.user_top_cont{width:100%; text-align: center; margin-top:20px; margin-bottom: 80px; }
.user_top_cont p{ font-size: 27px; color:#555555; padding:10px 0; line-height:24px;}
.user_top_cont p img{ margin-bottom:10px;}
.user_top_cont p strong{ font-weight: bold; color:#009397; }
.user_top_cont p span{ font-size: 16px;  }
.user_mid_cont{width:100%; margin:0 auto; overflow: hidden;}
.user_mid_cont ul{width:100%; }
.user_mid_cont ul li{width:50%; float:left; overflow: hidden;}
.user_mid_cont ul li p{width:100%; padding-bottom: 20px;}
.user_mid_cont ul li p strong{font-size: 24px; color:#009397}
.user_mid_cont ul li a{margin-top:15px; color:#fff; min-width: 110px; padding:15px 30px; text-align: center; display: inline-block; background-color: #009397; font-size: 16px;}
.user_mid_cont ul li a:hover{ background-color: #ea680f}
.user_mid_cont ul li.left{ border-right: 1px solid #ccc; padding:20px 20px 20px 0px; }
.user_mid_cont ul li.right{ padding:20px 0px 20px 20px; }
.user_ft_cont{width: 100%; margin:80px auto; color:#555555;}
.user_ft_cont h5{font-size: 27px; text-align: center; width:100%; color:#555555;}
.user_ft_cont p{ text-align: center; font-size: 16px; width:100%; margin-bottom: 15px;}
.user_ft_cont .process_user{width:100%; margin: 30px auto; min-height: 86px; background:url(http://192.168.1.220:8080/images/process_user_bg.png) repeat-x left;  }
.user_ft_cont .process_user dl{overflow: hidden; max-width: 198px; border:1px solid #ccc;float:left; overflow: hidden; border-radius: 10px;}
.user_ft_cont .process_user dl dt{width:55px; float:left; min-height:80px; background-color: #555a68;color:#fff;padding: 31px 0; }
.user_ft_cont .process_user dl dd{width:135px; float:left; background-color: #f5f5f5; padding: 20px 0; }
.user_ft_banner{width:100%; margin:0 auto; padding:25px; background: #f5f5f5 url(http://192.168.1.220:8080/images/user_ft_banner_bg.png) no-repeat 40px center; position: relative;}
.user_ft_banner p{ text-align: left; border-left:1px solid #ccc; margin-left:100px;margin-top:10px; padding-left:15px;}
.user_ft_banner a{ position: absolute; color:#fff; font-size: 16px; text-align: center; width:110px; padding:10px 20px; top:50px; right:30px; background-color: #009397 }
/* 광고이용안내 */
.adinformation_cont{width:1200px; margin:0px auto ;}
/* 1:1 문의 */
.onetoone_cont{width:1200px; margin: 30px auto;}
.onetoone_cont .sub_top_title{line-height: 45px;
padding-left: 60px;
border-bottom: 1px solid #ccc;
margin-bottom: 10px;
padding-bottom: 5px;
background: url(http://192.168.1.220:8080/images/AddQuestion_title_bg.png) no-repeat left;
min-height: 40px;}
.onetoone_cont table{width:100%; border-top:3px solid #999; border-bottom:1px solid #999;}
.onetoone_cont table tr th{width: 140px; background-color: #f3f4f8; padding:15px; border-bottom:1px solid #ccc; }
.onetoone_cont table tr td{padding:15px; border-bottom:1px solid #ccc;}
.onetoone_cont table tr td input, fieldset, select{width: 370px; float:left; min-height: 40px; vertical-align: middle}
.onetoone_cont table tr td input.tel{width:100px; margin-right:5px; }
.onetoone_cont table tr td fieldset{ margin-right:5px; }
.onetoone_cont table tr td .custom-select{width: 370px;}
.onetoone_cont table tr td  .form-group{ margin-bottom:0;}
.onetoone_cont table tr td  .editr--content{ min-height: 250px;}
.onetoone_cont table tr td  .btn-outline-warning{background-color: #555a68; color:#fff; border:1px solid #555a68 }
.comlapte_btn{width:100%; margin:15px auto; overflow: hidden; text-align: center; font-size: 15px; float:left;}
.comlapte_btn .cancel{width:173px; border:1px solid #ccc; padding:10px 0; color:#666; margin-right: 10px;}
.comlapte_btn .cancel:hover{ background-color: #ccc; color:#fff;}
.comlapte_btn .submit{width:173px; border:1px solid #009397; padding:10px 0; color:#009397; background-color: transparent}
.comlapte_btn .submit:hover {background-color: #009397; color:#fff;}
.agree_cont{width:100%; border-top:2px solid #a5a5a5; border-bottom:1px solid #a5a5a5; margin-top:30px; margin-bottom: 15px;}
.agree_cont ul{padding:0 ; overflow: hidden;}
.agree_cont ul li{width:100%; text-align: left; padding:20px; border-bottom: 1px solid #e5e5e5; font-size: 16px; }
.agree_cont ul li .btn{float: right; background-color: #f9f9f9;  border:1px solid #ccc; color:#858585 }
.agree_cont ul li .btn:hover{ background-color: #009397; color:#fff;}


/* 회원가입 */
.user_join{width:100%; margin:0 auto 50px; background-color: #efefef;}
.user_join .user_join_layout{width:640px; padding:30px 0; }
.user_join .user_join_layout .sub_top_title{ text-align: center;}
.join_form_table{width:100%; margin:0 auto; border-top:3px solid #0052a4; border-bottom: 1px solid #000;}
.join_form_table tr th{min-width: 200px; text-align: center; background-color: #eee; border-bottom:1px solid #ccc; padding:15px;font-size: 16px; font-weight: normal}
.join_form_table tr td{padding:15px; border-bottom:1px solid #ccc;} 
.join_title{ font-size: 22px; text-align: left; margin-top:20px; margin-bottom:10px; }
.user_join_layout .join_form_top{overflow: hidden; background-color: #fff; border:1px solid #ccc; border-top:3px solid #a5a5a5; padding:30px; margin-bottom:30px; }
.user_join_layout .join_form_top ul{ width:100%; overflow: hidden;}
.user_join_layout .join_form_top ul li{margin-bottom:15px;overflow: hidden;}
.user_join_layout .join_form_top ul li label{    font-size: 16px;
    color: #444444;
    font-weight: bold;
    text-align: left;
    float: left;
	margin-bottom: 5px;width:100%;}
	.user_join_layout .join_form_top ul li label span{ font-size: 14px; font-weight: normal; color:#444444; margin-left:5px;}
.user_join_layout .join_form_top ul li input{ height: 50px; }
.user_join_layout .join_form_top .form-control:focus{ border-color: #009397}
.telnumber{width:25%;float:left; margin-right:5px;}
.tel_btn{width:22%; float:left;}
.tel_btn .btn{ background-color: #009397;color:#fff; width:100%; border:1px solid #009397; min-height: 50px; }

.user_join_layout .join_form_bottom{overflow: hidden; background-color: #fff; border:1px solid #ccc; border-top:3px solid #a5a5a5; padding:30px; margin-bottom:30px; }
.user_join_layout .join_form_bottom ul{ width:100%; overflow: hidden;}
.user_join_layout .join_form_bottom ul li{margin-bottom:15px;overflow: hidden;}
.user_join_layout .join_form_bottom ul li label{    font-size: 16px;
    color: #444444;
    font-weight: bold;
    text-align: left;
    float: left;
	margin-bottom: 5px;width:100%;}
	.user_join_layout .join_form_bottom ul li label span{ font-size: 14px; font-weight: normal; color:#444444; margin-left:5px;}
.user_join_layout .join_form_bottom ul li input{ height: 50px; }
.user_join_layout .join_form_bottom .form-control:focus{ border-color: #009397}
.user_join_layout .join_form_bottom ul li.join_kind{ text-align: left; margin-bottom: 5px;}
.custom-control-label::before{top: 0.3rem;}
.user_join_layout .join_form_bottom .custom-file-label{ font-weight: normal; color:#999;}
#preview{width:100%; text-align: center; margin-top:20px;}
#preview img{width:auto;}
.join_Agree_cont{overflow: hidden; background-color: #fff; border:1px solid #ccc; border-top:3px solid #a5a5a5; padding:0px; margin-bottom:30px;}
.join_Agree_cont ul{width:100%; overflow: hidden; padding:20px 25px;}
.join_Agree_cont ul li{width:100%; text-align: left; font-size: 16px; margin-bottom:15px;}
.join_Agree_cont ul li .btn{ background-color: #a8a8a8; color:#fff; border:1px solid #a8a8a8; padding:0px 3px; margin-left:10px; font-size: 13px;margin-bottom: 3px;}
.join_Agree_cont ul li .custom-control-label::before{border:0; }
.join_Agree_cont ul li .custom-control-label::after {
	top:0;
	width: 28px;
    height: 28px;
	background:url("http://192.168.1.220:8080/images/agree_off.png") no-repeat;
	cursor:pointer;
}
.join_Agree_cont ul li .custom-control-input:checked ~ .custom-control-label::before {
	top:0;
	background:url("http://192.168.1.220:8080/images/agree_on.png") no-repeat;
	width: 28px;
    height: 28px;
}
.join_Agree_cont ul li .custom-control{ float: right;margin-right:0;}
.complate_btn{width:100%; overflow: hidden;}
.complate_btn .btn-secondary{font-size:20px; font-weight: bold; padding:5px 30px;}
.complate_btn .btn-primary { background-color: #009397; font-size:20px; font-weight: bold; padding:5px 30px;}
.total_agree_btn{width:100%; padding:15px; border-bottom:1px solid #ccc; text-align: left; overflow: hidden;}
.total_agree_btn label{ font-size: 18px; font-weight: bold; color:#555555; width:50%; float:left; }
.total_agree_btn .custom-control{ float: right; margin-right:0; width: 28px;
    height: 28px;}
.total_agree_btn input[type="checkbox"] {
	display:none;
}
.total_agree_btn .custom-control-label::before {border:0;
}

#checkbox1{float: right;}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after{ background-image: none;}
.total_agree_btn .custom-control-label::after {
	top:0;
	width: 28px;
    height: 28px;
	background:url("http://192.168.1.220:8080/images/agree_off.png") no-repeat;
	cursor:pointer;
}
.total_agree_btn .custom-control-input:checked ~ .custom-control-label::before {
	top:0;
	background:url("http://192.168.1.220:8080/images/agree_on.png") no-repeat;
	width: 28px;
    height: 28px;
}
.ccheck input[type="checkbox"] {
	display:none;
}

.ccheck label{
	width:100%;
	height:20px;
}

.ccheck input[type="checkbox"] + label .chk_img {
	padding:0 0 0 30px;
	height:20px;
	background:url("http://b1ix.net/post_inc/images/check01_off.png")no-repeat;
	cursor:pointer;
}
.ccheck input[type="checkbox"]:checked + label .chk_img {
	background:url("http://b1ix.net/post_inc/images/check01_on.png")no-repeat;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::after {    top: 0.3rem; background-color: #fff; border:4px solid #009397; border-radius: 50%; background-image: none;}
/* 로그인 페이지 */
.sub_login_cont{width:1200px; margin:50px auto; overflow: hidden;}
.sub_login_cont h5{ color:#555; font-size: 27px; text-align: center;}
.sub_login_cont .login_cont{width:640px; margin:0 auto; border:1px solid #ccc; border-top:5px solid #ccc; padding:30px; margin-top:20px;}
/* 공지사항 페이지 */
.noitce_cont{width:1200px; margin:30px auto; overflow: hidden;}
.noitce_cont .sub_top_title{line-height: 45px;
padding-left: 60px;
border-bottom: 1px solid #ccc;
margin-bottom: 20px;
padding-bottom: 5px;
background: url(http://192.168.1.220:8080/images/customer_title_bg.png) no-repeat left;
min-height: 40px;}
.lnb {
    position: relative;
    float: left;
    width: 225px;
	margin-right: 35px;
	min-height: 200px;
	
}
.lnb h5{ font-size: 28px; color:#333; text-align: left; margin-bottom: 10px; }
.lnb h5 span{font-size: 13px; color:#888888;display: block; margin-top:3px; letter-spacing: -0.5px;}
.lnb ul{width:100%; margin:0 auto; overflow: hidden; border:1px solid #ccc;}
.lnb ul li{border-bottom: 1px solid #ccc; padding:20px; text-align: left; font-size: 16px; color:#858585; cursor: pointer; background: url(http://192.168.1.220:8080/images/lf_menu_bg_off.png) no-repeat 190px center; }
.lnb ul li:hover{border-left:3px solid #009496; color:#858585;color:#454545;background: url(http://192.168.1.220:8080/images/lf_menu_bg_on.png) no-repeat 190px center;}

.lnb ul li.active{border-left:3px solid #009496; color:#858585;color:#454545;background: url(http://192.168.1.220:8080/images/lf_menu_bg_on.png) no-repeat 190px center;}
.lnb_content{position: relative;
float: left;
width:940px; }
.lf_menu_cont{width:100; margin-top:30px;}
.lnb .left_menu_banner{cursor:pointer;width:100%; border:1px solid #d5d6d6; padding:20px; text-align: left; font-size: 16px; color:#454545; background:#f3f4f8 url(http://192.168.1.220:8080/images/main_pre_detail_icon.png) no-repeat 190px center;}
.lnb .left_menu_banner:hover{ font-weight: bold; color:#009496;}


.noitce_cont .customer_info img{width:100%;}
.noitce_cont .customer_info .list_top{width:100%; text-align: center;}
.noitce_cont .customer_info .list_top tr th{width:70%;padding:20px 0; text-align: left;padding-left:15px; font-size: 28px;}
.noitce_cont .customer_info .list_top thead {border-top:1px solid #333; }
.noitce_cont .customer_info .list_top thead tr td{text-align: center; color:#999}
.noitce_cont .customer_info .list_top tbody tr td{ text-align: left; border-top:1px solid #ccc; border-bottom:1px solid #ccc; padding:30px 20px;}
.nt_list_btn{width:100%; text-align: right; margin:20px 0;}
.nt_list_btn .btn{ background-color: #009496}
.nt_list th.subject_css{width:65%; text-align: center}
.subject_css 
.subject_css div:hover{color:#009496}

/* 회사소개 */
.company_cont{width:1200px; margin:0 auto;}



@media (max-width: 320px) {
	
	.head_navi{width:100% !important; padding:10px;}
	.head_seach{width:100%;}

}

@media (max-width: 480px) {
	
	.head_navi{width:100% !important; padding:10px;}
	.head_seach{width:100%;}
	.search_cont input{width: 70% !important;}
	.area_main_cont{width:95%; margin:0 auto; float:none; overflow: hidden; border-right:0; border-bottom:1px solid #ccc;}
	.left_banner{ margin-right:0;}
		
.main_top_com_info_layout .main_top_lawyer_img{width: 100%;
max-width: 120px;
margin: 0 auto;
text-align: center;
float: none;}
.main_top_com_info_layout .main_top_com_info{width:100%; text-align: center}
.main_middle_cont .total_area{max-width:100%; }
}


 @media (max-width: 600px) { 
	.search_cont input{width: 80%;}
	.head_navi{width:100% !important}
}

@media (max-width: 768px) { 


}

@media (max-width: 992px) { 
.main_conter{ font-size: 16px; width: 90% !important;}
.main_vesual p{ font-size: 24px;}
.search_cont input{width:75%}
}

@media (max-width: 1024px) { 
	.main_premium_cont .plate_cont{width:100%;}
	.list_product{width:100%;}
.list_product li {width:49%; margin: 0 0.5%;}
.head_logo{width:100%;} 
.search_cont{width:100%;} 
.head_icon_menu{ display: none;}


 }

@media (max-width: 1200px) { 
	.container .layout_cont{width:95%; margin:0 auto;}
	.main_conter{margin: 0 auto;
float: none;
width: 50%;}
	.left_banner{width:100%; max-width: 100%;}
.search_cont input{width:75% !important;}
.layout_cont .left_aside{ display: none;}
.main_vesual p{ text-align: center; width: 100%;}

 }
 @media (max-width: 1580px) { 
.search_cont input{width:80%;}
.layout_cont .left_aside{ display: none;}

 }