<template>
  <div class="AddConsult" align="center">
    <TopFrame></TopFrame>
    <Navi></Navi>
    <div class="container">
      <b-form @submit="onSubmit" @reset="onCancel" v-if="formShow">
        <br>
        <b-row align="right">
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">상담제목</b-col>
          <b-col cols="6">
            <b-form-group>
              <b-form-input type="text" v-model="form.cr_subject" required placeholder="상담제목을 입력하세요"></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row align="right">
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">휴대폰번호</b-col>
          <b-col cols="1">
            <b-form-group>
              <b-form-input type="text" v-model="mobile.first" required placeholder="010"></b-form-input>
            </b-form-group>
          </b-col>
          <b-col cols="1">
            <b-form-group>
              <b-form-input type="text" v-model="mobile.second" required placeholder="1234"></b-form-input>
            </b-form-group>
          </b-col>
          <b-col cols="1">
            <b-form-group>
              <b-form-input type="text" v-model="mobile.third" required placeholder="5678"></b-form-input>
            </b-form-group>
          </b-col>
          <b-col cols="3" v-if="ahutViewFlag">
            <b-btn variant="outline-danger" @click="getCertiNumber">인증번호받기</b-btn>
          </b-col>
        </b-row>
        <b-row align="right" v-if="ahutViewFlag">
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">인증번호</b-col>
          <b-col cols="4">
            <b-form-group>
              <b-form-input type="text" v-model="form.cr_mobile_certi_number" required placeholder="인증번호를 입력해 주세요."></b-form-input>
            </b-form-group>
          </b-col>
          <b-col cols="2">
            <b-btn variant="outline-danger" @click="ahutConfirm">확인</b-btn>
          </b-col>
        </b-row>
        <b-row align="right">
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">상담부분</b-col>
          <b-col cols="6">
            <b-form-group>
              <b-form-select v-model="form.cr_division" :options="consult_divisions" required  class="mb-1" />
            </b-form-group>
          </b-col>
        </b-row>
        <b-row align="right">
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">거주지역</b-col>
          <b-col cols="6">
            <b-form-group>
              <b-form-select v-model="form.cr_area" :options="area_options" class="mb-1" />
            </b-form-group>
          </b-col>
        </b-row>
        <b-row align="right">
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">성별</b-col>
          <b-col cols="6">
            <b-form-group>
              <b-form-select v-model="form.cr_sex" :options="sex_options" class="mb-1" />
            </b-form-group>
          </b-col>
        </b-row>
        <b-row align="right">
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">연령</b-col>
          <b-col cols="6">
            <b-form-group>
              <b-form-select v-model="form.cr_age" :options="age_options" class="mb-1" />
            </b-form-group>
          </b-col>
        </b-row>
        <b-row align="right">
          <b-col cols="2"></b-col>
          <b-col cols="2" class="col-text">상담내용</b-col>
          <b-col cols="6" align="left">
            <wysiwyg v-model="form.cr_content" />
          </b-col>
        </b-row>
        <br>
        <b-row>
          <b-col cols="3"></b-col>
          <b-col cols="7">
            <vue-recaptcha
              ref="invisibleRecaptcha"
              @verify="onVerify"
              @expired="onExpired"
              size="invisible"
              :sitekey="recaptcha_sitekey">
            </vue-recaptcha>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="8"></b-col>
          <b-col cols="4" align="left">
            <b-form-checkbox id="checkbox4" v-model="form.cr_allAgree" value="O" unchecked-value="X" @change="toggleAllAgree">
              전체동의
            </b-form-checkbox>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="1"></b-col>
          <b-col cols="2" align="right">개인정보 수집 및 이용동의</b-col>
          <b-col cols="1">
            <b-btn size="sm" variant="outline-primary" @click="openTermsModal('개인정보 수집')">전문보기</b-btn>
          </b-col>
          <b-col cols="4"></b-col>
          <b-col cols="4" align="left">
            <b-form-checkbox id="checkbox1" v-model="form.cr_terms" value="O" unchecked-value="X">(필수)개인정보 수집 및 이용에 동의합니다.</b-form-checkbox>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="1"></b-col>
          <b-col cols="2" align="right">개인정보 제3자 제공 동의</b-col>
          <b-col cols="1">
            <b-btn size="sm" variant="outline-primary" @click="openTermsModal('개인정보 제3자 제공')">전문보기</b-btn>
          </b-col>
          <b-col cols="4"></b-col>
          <b-col cols="4" align="left">
            <b-form-checkbox id="checkbox2" v-model="form.cr_offer" value="O" unchecked-value="X">(필수)개인정보 제3자 제공에 동의합니다.</b-form-checkbox>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="1"></b-col>
          <b-col cols="2" align="right">마케팅 수신 동의</b-col>
          <b-col cols="1">
            <b-btn size="sm" variant="outline-primary" @click="openTermsModal('마케팅 수신')">전문보기</b-btn>
          </b-col>
          <b-col cols="4"></b-col>
          <b-col cols="4" align="left">
            <b-form-checkbox id="checkbox3" v-model="form.cr_marketing" value="O" unchecked-value="X">(선택)마케팅 수신에 동의합니다.</b-form-checkbox>
          </b-col>
        </b-row>
        <br>
        <b-row>
          <b-col cols="3"></b-col>
          <b-col cols="6" align="center">
            <b-btn type="reset" size="sm" variant="dark">취소</b-btn>
            <b-btn v-if="!protectFlag" type="submit" size="sm" variant="primary">등록</b-btn>
            <!--b-btn v-if="protectFlag" type="submit" size="sm" variant="primary" disabled>등록</b-btn>
            <b-btn size="sm" variant="warning" @click="onUpdate">수정</b-btn>
            <b-btn size="sm" variant="danger" @click="onDelete">삭제</b-btn-->
          </b-col>
        </b-row>
      </b-form>

      <b-modal ref="infoModal" hide-footer title="알림">
        <div class="d-block text-center">
          <h5>{{ infoMsg }}</h5>
        </div>
        <b-btn class="mt-3" variant="outline-primary" @click="hideModal">닫기</b-btn>
      </b-modal>
      <b-modal ref="addConfirmModal" hide-footer title="알림">
        <div class="d-block text-center">
          <h5>{{ confirmMsg }}</h5>
        </div>
         <b-btn size="md" class="float-right" variant="outline-danger" @click="confirmAdd">확인</b-btn>
      </b-modal>
      <b-modal ref="deleteConfirmModal" hide-footer title="경고">
        <div class="d-block text-center">
          <h5>{{ confirmMsg }}</h5>
        </div>
         <b-btn size="md" class="float-left" variant="outline-secondary" @click="confirmCancel">취소</b-btn>
         <b-btn size="md" class="float-right" variant="outline-danger" @click="confirmDelete">확인</b-btn>
      </b-modal>
      <b-modal ref="termsModal" hide-footer title="개인정보취급방침">
        <div class="d-block text-left">
          <p><span v-html="termsDoc"></span></p>
        </div>
        <b-btn class="mt-3" variant="outline-primary" @click="hideTermsModal">닫기</b-btn>
      </b-modal>
      <br>
    </div>
  </div>
</template>

<script>
import TopFrame from "./TopFrame";
import Navi from "./Navi";
import Footer from "./Footer";
import axios from 'axios';
import VueRecaptcha from 'vue-recaptcha'; //for I'm not a Root

export default {
  name: 'AddConsult',
  components: {
    TopFrame,
    Navi,
    Footer,
    VueRecaptcha,
  },
  data () {
    return {
      infoMsg: '',
      confirmMsg: '',
      selected_cr_id: '',
      formShow: true,
      ahutViewFlag: true,
      protectFlag: false,
      recaptcha_sitekey: '6LcZuYIUAAAAAMSPFY_82YwVdPFCQJx--zixgjOM',
      mobile: {
        first: "",
        second: "",
        third: ""
      },
      cr_mobile_certi_number: "",
      mobileCertiConfirmFlag: false,
      form: {
        cr_id: 0,
        cr_mobile: '',
        cr_mobile_certi_number: '',
        cr_area: null,
        cr_division: null,
        cr_sex: null,
        cr_age: null,
        cr_debt: null,
        cr_subject: '',
        cr_content: '',
        cr_terms: '',       //이용약관
        cr_offer: '',       //개인정보 제3자 제공
        cr_marketing: '',   //마케팅 정보수신
        cr_allAgree: '',    //전체 동의
        cr_creator: '',
      },
      consult_divisions: [
        { value: null, text: '상담종류를 선택해 주세요.' },
        { value: '개인회생', text: '개인회생' },
        { value: '개인파산', text: '개인파산' },
      ],
      area_options: [
        { value: null, text: '거주지역을 선택해 주세요.' },
        { value: '서울', text: '서울' },
        { value: '경기', text: '경기' },
        { value: '강원', text: '강원' },
        { value: '충북', text: '충북' },
        { value: '충남', text: '충남' },
        { value: '경북', text: '경북' },
        { value: '경남', text: '경남' },
        { value: '전북', text: '전북' },
        { value: '전남', text: '전남' },
        { value: '제주', text: '제주' },
        { value: '인천', text: '인천' },
        { value: '부산', text: '부산' },
        { value: '대전', text: '대전' },
        { value: '울산', text: '울산' },        
        { value: '대구', text: '대구' },
        { value: '광주', text: '광주' },
        { value: '세종', text: '세종' },
      ],
      sex_options: [
        { value: null, text: '성별을 선택해 주세요.' },
        { value: 'M', text: '남성' },
        { value: 'F', text: '여성' },
      ],
      age_options: [
        { value: null, text: '연령대를 선택해 주세요.' },
        { value: 10, text: '10대' },
        { value: 20, text: '20대' },
        { value: 30, text: '30대' },
        { value: 40, text: '40대' },
        { value: 50, text: '50대' },
        { value: 60, text: '60대' },
      ],
      terms:[],
      termsDoc: '',
      consults:[],
      fields: [
        { key: 'cr_id', label: 'SEQ', 'class': 'text-center' },
        { key: 'cr_division', label: '분류', 'class': 'text-center', sortable: true, sortDirection: 'desc' },
        { key: 'cr_subject', label: '제목', 'class': 'text-center' },
        { key: 'cr_area', label: '지역', 'class': 'text-center' },
        { key: 'cr_mobile', label: '전화번호', 'class': 'text-center' },
        { key: 'date', label: '작성일', 'class': 'text-center' }
      ],
      currentPage: 1,
      perPage: 10,
      totalRows: 0,
      pageOptions: [10, 20, 30],
      sortBy: null,
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
    }
  },
  methods: {
    getCertiNumber() {
      if ( this.checkString("mobile", this.mobile.first + this.mobile.second + this.mobile.third ) == false ) {
        this.showModal();
        return;
      }
      var data = new FormData();
      data.append("CRUD_mode", "create");
      data.append("c_type", "user");
      data.append("c_mobile", this.mobile.first + this.mobile.second + this.mobile.third);
      axios
        .post(this.$store.state.lawketBaseUrl + "CRUD_certification.php", data)
        .then(response => {
          this.infoMsg = response.data.msg + ": " + response.data.certi_number;
          this.cr_mobile_certi_number = response.data.certi_number;
          this.form.cr_mobile_certi_number = "";
        })
        .catch(error => {
          console.log(error);
          //alert(JSON.stringify(error));
        })
        .finally(() => (this.loading = false));
      this.showModal();
      this.ahutViewFlag = true;
    },
    ahutConfirm() {
      if (this.cr_mobile_certi_number != this.form.cr_mobile_certi_number) {
        this.infoMsg = "올바른 인증번호를 입력해 주세요.";
        this.ahutViewFlag = true;
        this.showModal();
        return;
      }
      this.form.cr_mobile = this.mobile.first + this.mobile.second + this.mobile.third;
      var data = new FormData();
      data.append("CRUD_mode", "update");
      data.append("c_type", "user");
      data.append("c_mobile", this.form.cr_mobile);
      data.append("c_number", this.form.cr_mobile_certi_number);
      axios
        .post(this.$store.state.lawketBaseUrl + "CRUD_certification.php", data)
        .then(response => {
          this.infoMsg = response.data.msg;
          if (!response.data.result) {
            this.mobileCertiConfirmFlag = false;
          } else {
            this.mobileCertiConfirmFlag = true;
          }
        })
        .catch(error => {
          console.log(error);
          //alert(JSON.stringify(error));
        })
        .finally(() => (this.loading = false));
      this.showModal();
    },
    checkString(type, str) {
      let pw = str;
      let num = pw.search(/[0-9]/g);
      let eng = pw.search(/[a-z][A-Z]/gi);
      let spe = pw.search(/[`~!@@#$%^&*|₩₩₩'₩";:₩/?]/gi);
      let kor = pw.search(/[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/gi);
      if (type == "password") {
        //alert(JSON.stringify(pw.length));
        if (pw.length < 8 || pw.length > 15) {
          this.infoMsg = "비밀번호는 영.숫자 포함 8자리 ~ 15자리 입니다.";
          return false;
        }
        if (pw.search(/₩s/) != -1) {
          this.infoMsg = "비밀번호는 공백없이 입력해주세요.";
          return false;
        }
        if (num < 0 || eng < 0) {
          this.infoMsg = "비밀번호는 영문.숫자를 혼합하여 입력해주세요.";
          return false;
        }
      } else if (type == "mobile" && pw.length != 11) {
        this.infoMsg = "휴대폰번호를 확인해주세요.";
        return false;
      } else if (type == "number" && pw.length < 9) {
        this.infoMsg = "전화번호를 확인해주세요.";
        return false;
      } else {
        if (pw.search(/₩s/) != -1) {
          this.infoMsg = "공백없이 입력해주세요.";
          return false;
        }
        if (eng != -1 || spe != -1 || kor != -1) {
          this.infoMsg = '전화번호는 숫자와 "-"만 입력해주세요.';
          return false;
        }
      }
      return true;
    },

    onSubmit(evt) {
      evt.preventDefault();
      this.form.cr_creator = this.mobile.second + this.mobile.third;
      if(this.form.cr_content == '') {
          this.infoMsg = '상담 내용을 입력하세요.';
          this.showModal();
          return;
      } else if (this.form.cr_mobile_certi_number == "") {
        this.infoMsg = "휴대폰번호 인증을 완료해 주세요.";
        this.ahutViewFlag = true;
        this.showModal();
        return;
      } else if ( this.form.cr_mobile != this.mobile.first + this.mobile.second + this.mobile.third ) {
        this.infoMsg = "휴대폰 인증이 완료되지 않았습니다.";
        this.form.cr_mobile_certi_number = "";
        this.ahutViewFlag = true;
        this.showModal();
        return;
      } else if (!this.mobileCertiConfirmFlag) {
        this.infoMsg = "휴대폰 인증이 완료되지 않았습니다.";
        this.form.cr_mobile_certi_number = "";
        this.ahutViewFlag = true;
        this.showModal();
        return;
      } else if(this.form.cr_terms != 'O' || this.form.cr_offer != 'O') {
        this.infoMsg = '이용약관/개인정보처리방침에 동의해야 합니다.';
        this.showModal();
        return;
      }
      //alert(JSON.stringify(this.form));

      var data = new FormData();                                
      data.append('CRUD_mode', 'create');
      data.append('cr_mobile', this.form.cr_mobile);
      data.append('cr_mobile_certi_number', this.form.cr_mobile_certi_number);
      data.append('cr_area', this.form.cr_area);
      data.append('cr_division', this.form.cr_division);
      data.append('cr_sex', this.form.cr_sex);
      data.append('cr_age', this.form.cr_age);
      data.append('cr_debt', this.form.cr_debt);
      data.append('cr_subject', this.form.cr_subject);
      data.append('cr_content', this.form.cr_content);
      data.append('cr_terms', this.form.cr_terms);
      data.append('cr_offer', this.form.cr_offer);
      data.append('cr_marketing', this.form.cr_marketing);
      data.append('cr_allAgree', this.form.cr_allAgree);
      data.append('cr_creator', this.form.cr_creator);

      axios.post(this.$store.state.lawketBaseUrl+'CRUD_consult.php', data)
      .then(response => {
        this.infoMsg = response.data.msg;
        if(response.data.result) {
          this.confirmMsg = '상담글이 등록되었습니다.'
          this.$refs.addConfirmModal.show();
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
      this.showModal();
    },

    onCancel() {
    },

    read_item(item) {
      // alert(JSON.stringify(item, null, 2));
      this.selected_cr_id = item.cr_id;
      var data = new FormData();
      data.append('CRUD_mode', 'read');
      data.append('cr_id', this.selected_cr_id);
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_consult.php', data)
      .then(response => {
        if(!response.data.result) {
          this.infoMsg = response.data.msg;
          this.showModal();
        } else {
          this.form.cr_id = response.data.consult.cr_id;
          this.form.cr_mobile = response.data.consult.cr_mobile;
          this.mobile.first = response.data.consult.cr_mobile.substr(0,3);
          this.mobile.second = response.data.consult.cr_mobile.substr(3,4);
          this.mobile.third = response.data.consult.cr_mobile.substr(7,4); 
          this.form.cr_mobile_certi_number = response.data.consult.cr_mobile_certi_number; 
          this.form.cr_area = response.data.consult.cr_area; 
          this.form.cr_division = response.data.consult.cr_division;
          this.form.cr_sex = response.data.consult.cr_sex; 
          this.form.cr_age = response.data.consult.cr_age; 
          this.form.cr_debt = response.data.consult.cr_debt; 
          this.form.cr_subject = response.data.consult.cr_subject; 
          this.form.cr_content = response.data.consult.cr_content; 
          this.form.cr_terms = response.data.consult.cr_terms;        //이용약관
          this.form.cr_offer = response.data.consult.cr_offer;        //개인정보 제3자 제공
          this.form.cr_marketing = response.data.consult.cr_marketing;    //마케팅 정보수신
          this.form.cr_creator = response.data.consult.cr_creator; 
          this.protectFlag = true;
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
    },
    confirmAdd() {
      this.$refs.addConfirmModal.hide();
      this.$router.push({ path: '/' });
    },
    onDelete() {
      console.log('-----> click onDelete');
      this.confirmMsg = '정말 삭제하시겠습니까?'
      this.$refs.deleteConfirmModal.show();
    },
    confirmDelete() {
      this.$refs.deleteConfirmModal.hide();
      var data = new FormData();
      data.append('CRUD_mode', 'delete');
      data.append('cr_id', this.selected_cr_id);
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_consult.php', data)
      .then(response => {
        this.infoMsg = response.data.msg;
      })
      .catch(error => {
        console.log(error);
      })
      .finally(() => this.loading = false);
      this.showModal();
    },
    confirmCancel() {
      //alert('Selected --------> confirmCancel()');
      this.$refs.deleteConfirmModal.hide();
    },
    
    getTerms() {
      this.terms = [];
      var data = new FormData();
      data.append('CRUD_mode', 'get');
      data.append('t_type', '개인');
      axios.post(this.$store.state.lawketBaseUrl+'CRUD_term.php', data)
      .then(response => {
        if(!response.data.result) {
          this.infoMsg = response.data.msg;
          this.showModal();
        } else {
          this.terms = response.data.terms;
        }
      })
      .catch(error => {
        console.log(error);
        //alert(JSON.stringify(error));
      })
      .finally(() => this.loading = false);
    },
    toggleAllAgree(checked) {
      this.form.cr_terms = "O"; //이용약관
      this.form.cr_offer = "O"; //개인정보 제3자 제공
      this.form.cr_marketing = "O"; //마케팅 정보수신
    },
    openTermsModal(subject) {
      for(let i=0; i<this.terms.length; i++) {
        if(this.terms[i].t_subject == subject) {
          this.termsDoc = this.terms[i].t_content;
        }
      }
      this.$refs.termsModal.show();
    },

    showModal() {
      this.$refs.infoModal.show()
    },
    hideModal() {
      this.$refs.infoModal.hide()
    },
    hideTermsModal() {
      this.$refs.termsModal.hide();
    },
    onVerify: function (response) {
      console.log('Verify: ' + response)
    },
    onExpired: function () {
      console.log('Expired')
    },
  },

  mounted() {
    this.getTerms();
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .col-text {
    padding-top: 7px; 
    padding-right: 0px; 
    padding-left: 30px;
  }

  body {
    background-color: #e2e2e2;
  }

  #preview {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #preview img {
    max-width: 100%;
    max-height: 500px;
  }
</style>