<template>
  <div class="AddQuestion" align="center">
    <TopFrame></TopFrame>
    <Navi></Navi>
    <div class="container">
      <div class="onetoone_cont">
          <div class="lnb">
          <h5>고객센터<br/> <span>Customer Center</span></h5>
          <ul>
            <li @click="notice_btn">공지사항 </li>
            <li @click="faq">자주묻는 질문</li>
            <li class="active" @click="AddQuestion">1:1 문의 </li>
            <li @click="adInformation">광고문의 </li>
          </ul>
          <div class="lf_menu_cont">
          <p class="left_menu_banner" @click="searchByRegion">
              지역별 업체검색
          </p>
          <p class="left_menu_banner" @click="searchByProduct">
            분야별 업체검색
          </p>
          </div>
        </div>
        <div class="lnb_content">
          <h5 class="sub_top_title">1:1 문의</h5>
          <b-form @submit="onSubmit" @reset="onReset" v-if="formShow">
            <table>
              <tbody>
                <tr>
                  <th>제목</th>
                  <td>
                    <b-form-group>
                      <b-form-input type="text" v-model="form.q_subject" required placeholder="제목을 입력하세요"></b-form-input>
                    </b-form-group>
                  </td>
                </tr>
                <tr>
                  <th>이름</th>
                  <td>
                    <b-form-group>
                      <b-form-input type="text" v-model="form.q_name" required placeholder="이름을 입력하세요."></b-form-input>
                    </b-form-group>
                  </td>
                </tr>
                <tr>
                  <th>문의유형</th>
                  <td>
                    <b-form-group>
                      <b-form-select v-model="form.q_type" :options="type_options" required class="mb-1"></b-form-select>
                    </b-form-group>
                  </td>
                </tr>
                <tr>
                  <th>휴대폰번호</th>
                  <td>
                    <b-form-input class="tel" type="text" v-model="mobile.first" required placeholder="010"></b-form-input>
                    <b-form-input class="tel" type="text" v-model="mobile.second" required placeholder="1234"></b-form-input>
                    <b-form-input class="tel" type="text" v-model="mobile.third" required placeholder="5678"></b-form-input>
                    <b-btn variant="outline-warning" @click="getCertiNumber" style="float:left;">인증번호받기</b-btn>
                    <p style="margin-top:10px; margin-left:10px;float: left;"><img src="http://192.168.1.220:8080/images/kind_text_bg.png" alt=""/> 휴대폰번호는 공개되지 않습니다.</p>
                  </td>
                </tr>
                <tr>
                  <th>인증번호</th>
                  <td>
                    <b-form-group>
                      <b-form-input type="text" v-model="form.q_mobile_certi_number" required placeholder="인증번호를 입력해 주세요."></b-form-input>
                    </b-form-group>
                    <b-btn variant="outline-warning" @click="authConfirm">확인</b-btn>
                  </td>
                </tr>
                <tr>
                  <th>문의내용</th>
                  <td>
                    <wysiwyg v-model="form.q_content" required placeholder="내용을 입력하세요"/>
                  </td>
                </tr>
              </tbody>
            </table>
            <b-row>
              <b-col cols="3"></b-col>
              <b-col cols="7">
                <vue-recaptcha
                  ref="invisibleRecaptcha"
                  @verify="onVerify"
                  @expired="onExpired"
                  size="invisible"
                  :sitekey="recaptcha_sitekey"
                ></vue-recaptcha>
              </b-col>
            </b-row>
            <div class="agree_cont">
              <ul>
               <li> <b-form-checkbox id="checkbox4" v-model="form.q_allAgree" value="O" unchecked-value="X" @change="toggleAllAgree">전체동의</b-form-checkbox></li>
               <li> <b-form-checkbox id="checkbox1" v-model="form.q_terms" value="O" unchecked-value="X">(필수)개인정보 수집 및 이용에 동의합니다.</b-form-checkbox><b-btn size="sm" variant="outline-primary" @click="openTermsModal('개인정보 수집')">전문보기</b-btn></li>
               <li>   <b-form-checkbox id="checkbox2" v-model="form.q_offer" value="O" unchecked-value="X">(필수)개인정보 제3자 제공에 동의합니다.</b-form-checkbox> <b-btn size="sm" variant="outline-primary"  @click="openTermsModal('개인정보 제3자 제공')">전문보기</b-btn></li>
               <li> <b-form-checkbox id="checkbox3" v-model="form.q_marketing" value="O" unchecked-value="X">(선택)마케팅 수신에 동의합니다.</b-form-checkbox> <b-btn size="sm" variant="outline-primary" @click="openTermsModal('마케팅 수신')">전문보기</b-btn></li>
                </ul>
            </div>

            <div class="comlapte_btn">
              <b-btn class="cancel" type="reset" size="sm" variant="outline-primary">작성 취소</b-btn>
              <b-btn class="submit" type="submit" size="sm" variant="primary">문의등록하기</b-btn>
            </div>
          </b-form>

          <b-modal ref="infoModal" hide-footer title="알림">
            <div class="d-block text-center">
              <h5>{{ infoMsg }}</h5>
            </div>
            <b-btn class="mt-3" variant="outline-primary" @click="hideModal">닫기</b-btn>
          </b-modal>
          <b-modal ref="termsModal" hide-footer title="개인정보취급방침">
            <div>
              <p>
                <span v-html="termsDoc"></span>
              </p>
            </div>
            <b-btn class="mt-3" variant="outline-primary" @click="hideTermsModal">닫기</b-btn>
          </b-modal>
          <b-modal ref="confirmModal" hide-footer title="알림">
            <div class="d-block text-center">
              <h5>{{ confirmMsg }}</h5>
            </div>
            <b-btn size="md" class="float-right" variant="outline-primary" @click="goHome">확인</b-btn>
          </b-modal>
        </div>
      </div>
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
import TopFrame from "./TopFrame";
import Navi from "./Navi";
import Footer from "./Footer";
import axios from "axios";
import VueRecaptcha from "vue-recaptcha"; //for I'm not a Robot

export default {
  name: "AddQuestion",
  components: {
    TopFrame,
    Navi,
    VueRecaptcha,
    Footer
  },
  data() {
    return {
      recaptcha_sitekey: "6LcZuYIUAAAAAMSPFY_82YwVdPFCQJx--zixgjOM",
      infoMsg: "",
      confirmMsg: "",
      termsDoc: "",
      selected_q_id: "",
      formShow: true,
      type_options: [
        { value: null, text: "문의유형을 선택하세요." },
        { value: "제휴문의", text: "제휴문의" },
        { value: "광고문의", text: "광고문의" },
        { value: "공지사항문의", text: "공지사항문의" },
        { value: "기타문의", text: "기타문의" },
        { value: "건의사항", text: "건의사항" },
        { value: "신고하기", text: "신고하기" }
      ],
      ahutViewFlag: true,
      mobile: {
        first: "",
        second: "",
        third: ""
      },
      form: {
        q_id: 0,
        q_subject: "",
        q_name: "",
        q_mobile: "",
        q_mobile_certi_number: "",
        q_content: "",
        q_type: null,
        q_terms: "", //이용약관
        q_offer: "", //개인정보 제3자 제공
        q_marketing: "", //마케팅 정보수신
        q_allAgree: "", //전체 동의
        q_status: "",
        q_creator: ""
      }
    };
  },
  computed: {},
  methods: {
      notice_btn() {
      this.$router.push({ path: "./notice" });
    },
     faq() {
      this.$router.push({ path: "./faq" });
    },
     AddQuestion() {
      this.$router.push({ path: "./AddQuestion" });
    },
     adInformation() {
      this.$router.push({ path: "./adInformation" });
    },
     searchByRegion() {
      this.$router.push({ path: "./searchByRegion" });
    },
     searchByProduct() {
      this.$router.push({ path: "./searchByProduct" });
    },
    toggleAllAgree(checked) {
      this.form.q_terms = "O"; //이용약관
      this.form.q_offer = "O"; //개인정보 제3자 제공
      this.form.q_marketing = "O"; //마케팅 정보수신
    },
    openTermsModal(subject) {
      for (let i = 0; i < this.terms.length; i++) {
        if (this.terms[i].t_subject == subject) {
          this.termsDoc = this.terms[i].t_content;
        }
      }
      this.$refs.termsModal.show();
    },
    getCertiNumber() {
      if ( this.checkString("mobile", this.mobile.first + this.mobile.second + this.mobile.third ) == false ) {
        this.showModal();
        return;
      }
      var data = new FormData();
      data.append("CRUD_mode", "create");
      data.append("c_type", "user");
      data.append("c_mobile", this.mobile.first + this.mobile.second + this.mobile.third);
      axios
        .post(this.$store.state.lawketBaseUrl + "CRUD_certification.php", data)
        .then(response => {
          this.infoMsg = response.data.msg + ": " + response.data.certi_number;
          this.q_mobile_certi_number = response.data.certi_number;
          this.form.q_mobile_certi_number = "";
        })
        .catch(error => {
          console.log(error);
          //alert(JSON.stringify(error));
        })
        .finally(() => (this.loading = false));
      this.showModal();
      this.ahutViewFlag = true;
    },
    authConfirm() {
      if (this.q_mobile_certi_number != this.form.q_mobile_certi_number) {
        this.infoMsg = "올바른 인증번호를 입력해 주세요.";
        this.ahutViewFlag = true;
        this.showModal();
        return;
      }
      this.form.q_mobile = this.mobile.first + this.mobile.second + this.mobile.third;
      var data = new FormData();
      data.append("CRUD_mode", "update");
      data.append("c_type", "user");
      data.append("c_mobile", this.form.q_mobile);
      data.append("c_number", this.form.q_mobile_certi_number);
      axios
        .post(this.$store.state.lawketBaseUrl + "CRUD_certification.php", data)
        .then(response => {
          this.infoMsg = response.data.msg;
          if (!response.data.result) {
            this.mobileCertiConfirmFlag = false;
          } else {
            this.mobileCertiConfirmFlag = true;
          }
        })
        .catch(error => {
          console.log(error);
          //alert(JSON.stringify(error));
        })
        .finally(() => (this.loading = false));
      this.showModal();
    },
    checkString(type, str) {
      let pw = str;
      let num = pw.search(/[0-9]/g);
      let eng = pw.search(/[a-z][A-Z]/gi);
      let spe = pw.search(/[`~!@@#$%^&*|₩₩₩'₩";:₩/?]/gi);
      let kor = pw.search(/[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/gi);

      if (type == "password") {
        //alert(JSON.stringify(pw.length));
        if (pw.length < 8 || pw.length > 15) {
          this.infoMsg = "비밀번호는 영.숫자 포함 8자리 ~ 15자리 입니다.";
          return false;
        }
        if (pw.search(/₩s/) != -1) {
          this.infoMsg = "비밀번호는 공백없이 입력해주세요.";
          return false;
        }
        if (num < 0 || eng < 0) {
          this.infoMsg = "비밀번호는 영문.숫자를 혼합하여 입력해주세요.";
          return false;
        }
      } else if (type == "mobile" && pw.length != 11) {
        this.infoMsg = "휴대폰번호를 확인해주세요.";
        return false;
      } else if (type == "number" && pw.length < 9) {
        this.infoMsg = "전화번호를 확인해주세요.";
        return false;
      } else {
        if (pw.search(/₩s/) != -1) {
          this.infoMsg = "공백없이 입력해주세요.";
          return false;
        }
        if (eng != -1 || spe != -1 || kor != -1) {
          this.infoMsg = '전화번호는 숫자와 "-"만 입력해주세요.';
          return false;
        }
      }
      return true;
    },

    onSubmit(evt) {
      evt.preventDefault();
      this.$refs.invisibleRecaptcha.execute(); //for <vue-recaptcha>

      if (this.form.q_content == "") {
        this.infoMsg = "내용을 입력하세요.";
        this.showModal();
        return;
      } else if (this.form.q_mobile_certi_number == "") {
        this.infoMsg = "휴대폰번호 인증을 완료해 주세요.";
        this.ahutViewFlag = true;
        this.showModal();
        return;
      } else if (this.form.q_mobile != this.mobile.first + this.mobile.second + this.mobile.third) {
        this.infoMsg = "휴대폰 인증이 완료되지 않았습니다.";
        this.form.q_mobile_certi_number = "";
        this.ahutViewFlag = true;
        this.showModal();
        return;
      } else if (!this.mobileCertiConfirmFlag) {
        this.infoMsg = "휴대폰 인증이 완료되지 않았습니다.";
        this.form.q_mobile_certi_number = "";
        this.ahutViewFlag = true;
        this.showModal();
        return;
      } else if (this.form.q_terms != "O" || this.form.q_offer != "O") {
        this.infoMsg = "이용약관/개인정보처리방침에 동의해야 합니다.";
        this.showModal();
        return;
      }
      this.form.q_creator = this.mobile.second + this.mobile.third;
      this.form.q_mobile = this.mobile.first + this.mobile.second + this.mobile.third;
      this.form.q_status = "응답대기"; //'응답대기'
      //alert(JSON.stringify(this.form));
      var data = new FormData();
      data.append("CRUD_mode", "create");
      data.append("q_subject", this.form.q_subject);
      data.append("q_name", this.form.q_name);
      data.append("q_mobile", this.form.q_mobile);
      data.append("q_mobile_certi_number", this.form.q_mobile_certi_number);
      data.append("q_content", this.form.q_content);
      data.append("q_type", this.form.q_type);
      data.append("q_terms", this.form.q_terms);
      data.append("q_offer", this.form.q_offer);
      data.append("q_marketing", this.form.q_marketing);
      data.append("q_status", this.form.q_status);
      data.append("q_creator", this.form.q_creator);
      axios
        .post(this.$store.state.lawketBaseUrl + "CRUD_question.php", data)
        .then(response => {
          if (!response.data.result) {
            this.infoMsg = response.data.msg;
            this.showModal();
          } else {
            this.confirmMsg = response.data.msg;
            this.$refs.confirmModal.show();
          }
        })
        .catch(error => {
          console.log(error);
          //alert(JSON.stringify(error));
        })
        .finally(() => (this.loading = false));
    },
    goHome() {
      this.$router.push({ path: "/" });
    },
    onReset() {
      this.$router.push({ path: "/" });
    },

    getTerms() {
      this.terms = [];
      var data = new FormData();
      data.append("CRUD_mode", "get");
      data.append("t_type", "개인");
      axios
        .post(this.$store.state.lawketBaseUrl + "CRUD_term.php", data)
        .then(response => {
          if (!response.data.result) {
            this.infoMsg = response.data.msg;
            this.showModal();
          } else {
            this.terms = response.data.terms;
          }
        })
        .catch(error => {
          console.log(error);
          //alert(JSON.stringify(error));
        })
        .finally(() => (this.loading = false));
    },

    showModal() {
      this.$refs.infoModal.show();
    },
    hideModal() {
      this.$refs.infoModal.hide();
    },
    hideTermsModal() {
      this.$refs.termsModal.hide();
    },
    //for <vue-recaptcha> onSubmit, onVerify, onExpired</vue-recaptcha>
    onVerify: function(response) {
      console.log("Verify: " + response);
    },
    onExpired: function() {
      console.log("Expired");
    }
  },

  mounted() {
    this.getTerms();
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.col-text {
  padding-top: 7px;
  padding-right: 0px;
  padding-left: 30px;
}
</style>