<template>
  <div class="AdInformation" align="center">
    <TopFrame></TopFrame>
    <Navi></Navi>
    <div class="container">
      <div class="adinformation_cont">
      <h5 class="sub_top_title">광고문의 <span class="sub_navi">HOME > 광고문의</span></h5>
        <div v-for="(ad_type, key) in ad_types" :key="key">
          <b-row>
            <b-col cols="2"></b-col>
            <b-col cols="4">
              <p>
                <span v-html="ad_type.at_desc"></span>
              </p>
            </b-col>
            <b-col cols="3">
              <img
                v-if="ad_type.at_location_image != ''"
                :src="ad_type.at_location_image"
                style="height: 200px; width:300px;"
              >
            </b-col>
          </b-row>
          <br>
          <div style="height: 10px; background-color:#eeeeee;"></div>
          <br>
        </div>
      </div>
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
import TopFrame from "./TopFrame";
import Navi from "./Navi";
import axios from "axios";
import Footer from "./Footer";

export default {
  name: "AdInformation",
  components: {
    TopFrame,
    Navi,
    Footer
  },
  data() {
    return {
      ad_types: []
    };
  },
  computed: {},
  methods: {
    getAdTypes() {
      this.ad_types = [];
      var data = new FormData();
      data.append("CRUD_mode", "get");
      axios
        .post(this.$store.state.lawketBaseUrl + "CRUD_ad_type.php", data)
        .then(response => {
          this.ad_types = response.data.ad_types;
          for (let i = 0; i < this.ad_types.length; i++) {
            this.ad_types[i].at_location_image =
              this.$store.state.lawketImageUrl +
              "lawket/ad_image/" +
              this.ad_types[i].at_location_image;
            if (this.ad_types[i].at_sale_from_date == "1969-12-31") {
              this.ad_types[i].at_sale_from_date = "";
            }
            if (this.ad_types[i].at_sale_to_date == "1969-12-31") {
              this.ad_types[i].at_sale_to_date = "";
            }
          }
        })
        .catch(error => {
          console.log(error);
          //alert(JSON.stringify(error));
        })
        .finally(() => (this.loading = false));
    }
  },

  mounted() {
    this.getAdTypes();
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>