<template>
  <div class="BottomFrame">
    <b-tabs>
      <b-tab title="관리자등록" active></b-tab>
      <b-tab title="광고등록"></b-tab>
      <b-tab title="정보등록"></b-tab>
      <b-tab title="상담신청"></b-tab>
      <b-tab title="자주묻는질문"></b-tab>
      <b-tab title="공지사항"></b-tab>
      <b-tab title="업체등록"></b-tab>
    </b-tabs>
  </div>
</template>

<script>

export default {
  name: 'BottomFrame',
  components: {
  },
  data () {
    return {
    }
  },
  methods: {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>