<template>
  <div class="CustomSearch" align="center">
    <div class="head_top">
      <div class="head_navi">
        <b-link v-if="!$store.state.legalOfficeFlag" href="#/Login">로그인</b-link>
        <b-link v-if="$store.state.legalOfficeFlag" href="#/MyPage">마이페이지</b-link>
        <b-link href="#/adInformation"><img src="http://192.168.1.220:8080/images/head_icon.png" alt="광고문의" /> 광고문의</b-link>
      </div>
    </div>
    <div class="logo_search_cont">
      <div class="head_logo">
        <a href="#/" target="_self" class="navbar-brand">
          <img src="http://192.168.1.220:8080/images/head_logo.png" alt="lawket" class="d-inline-block align-top">
        </a>
      </div>
      <div class="search_cont">
        <b-input-group>
          <div class="total_search">
            <b-form-input size="md" class="mr-md-2" type="text" v-model="search_text" placeholder="통합검색"/>
            <b-btn variant="info" @click="totalSearch">검색</b-btn>
          </div>
        </b-input-group>
         <div class="best_keyword">
        <ul>
          <p>추천 검색어</p>
          <li v-for="(st, key) in $store.state.searchTextData" :key="key">
            {{st.s_text}}
          </li>
        </ul>
      </div>
      </div>
      <div class="top_head_banner">
         <carousel
                :per-page="1"
                :mouse-drag="false"
                :autoplay="true"
                :loop="true"
                :autoplayTimeout="5000"
              >
          <slide data-index="0" data-name="customer">
            <div class="main_top_com_info_layout">
              <img src="http://192.168.1.220:8080/images/head_banner1.png" alt="" />
            </div>
          </slide>
          <slide data-index="0" data-name="customer">
            <div class="main_top_com_info_layout">
              <img src="http://192.168.1.220:8080/images/head_banner1.png" alt="" />
            </div>
          </slide>
        </carousel>
      </div>
     
    </div>
    <Navi></Navi>
    <div class="container">
        <div class="customer_cont">
          <div class="customer_top_layout">
            <div class="customer_top">
              <h5 class="sub_top_title">맞춤검색 </h5>
              <div class="search_btn_layout">
                <div class="area_search_btn">
                  <p>지역별</p>
                  <b-btn v-for="(area, key) in areas" :key="key" size="sm" :pressed.sync="area.state" :variant="area.variant"
                    @click="selectLocation(area.value)"
                  >{{area.text}}</b-btn>
                </div>
                <div class="category_btn">
                  <p>분야별</p>
                  <b-btn v-for="(division, key) in divisions" :key="key" size="sm" :pressed.sync="division.state" :variant="division.variant"
                    @click="selectDivision(division.value)"
                  >{{division.text}}</b-btn>
                </div>
              </div>
              <div class="search_btn">
                <b-btn size="sm" variant="info" @click="detailSearch">검색하기</b-btn>
              </div>
          </div>
        </div>
        <div id="scrollTop"></div>
        <div class="customer_info" id="company_top" v-if="detailFlag">
          <b-row align="left">
            <b-col cols="2">회사명:</b-col>
            <b-col cols="6"><span v-html="customer.lo_name"></span></b-col>
          </b-row>
          <b-row align="left">
            <b-col cols="2">대표자명:</b-col>
            <b-col cols="6"><span v-html="customer.lo_ceo_name"></span></b-col>
          </b-row>
          <b-row align="left">
            <b-col cols="2">사업자등록번호:</b-col>
            <b-col cols="6"><span v-html="customer.lo_regist_number"></span></b-col>
          </b-row>
          <b-row align="left">
            <b-col cols="2">전화번호:</b-col>
            <b-col cols="6"><span v-html="customer.lo_phone"></span></b-col>
          </b-row>
          <b-row align="left">
            <b-col cols="2">우편번호:</b-col>
            <b-col cols="6"><span v-html="customer.lo_postcode"></span></b-col>
          </b-row>
          <b-row align="left">
            <b-col cols="2">주 소:</b-col>
            <b-col cols="6"><span v-html="customer.lo_address"></span></b-col>
          </b-row>
          <b-row align="left">
            <b-col cols="2">홈페이지:</b-col>
            <b-col cols="6"><span v-html="customer.lo_homepage"></span></b-col>
          </b-row>
          <b-row align="left">
            <b-col cols="2">핵심사업:</b-col>
            <b-col cols="6"><span v-html="customer.lo_core_business"></span></b-col>
          </b-row>
          <b-row align="left">
            <b-col cols="2">서비스대상:</b-col>
            <b-col cols="6"><span v-html="customer.lo_service_target"></span></b-col>
          </b-row>
          <br>
          <b-row align="left">
            <b-col cols="2">부가 설명:</b-col>
            <b-col cols="6"><span v-html="customer.lo_description"></span></b-col>
          </b-row>
          <b-row>
            <b-col cols="11"></b-col>
            <b-col cols="1"><b-btn size="sm" variant="info" @click="viewList">목록</b-btn></b-col>
          </b-row>
        </div>
        <div class="customer_bottom">
        <h5>
         <img src="http://192.168.1.220:8080/images/customer_sub_title_bg.png" alt="맞춤 검색 결과" /> 맞춤 검색 결과 총  
         <span>{{totalRows}}</span> 건
        </h5>
      
          <b-table
            show-empty
            stacked="sm"
            :items="customers"
            :fields="fields"
            :current-page="currentPage"
            :per-page="perPage"
            :filter="filter"
            :empty-text="emptyText"
            :empty-filtered-text="emptyFilteredText"
            @row-clicked="showDetail"
            :v-scroll-to="'#scrollTop'"
          ></b-table>
          <div class="paging_cont">
            <b-pagination
              :total-rows="totalRows"
              :per-page="perPage"
              v-model="currentPage"
              class="my-0"/>
          </div>
          <div class="list_search_bottom">
              <b-input-group>
                <b-form-input v-model="filter" placeholder="찾을 내용을 입력하세요"/>
                <b-input-group-append>
                  <b-btn :disabled="!filter" @click="filter = ''">지우기</b-btn>
                </b-input-group-append>
              </b-input-group>
          </div>
        </div>
        <b-modal ref="infoModal" hide-footer title="알림">
          <div class="d-block text-center">
            <h5>{{ infoMsg }}</h5>
          </div>
          <b-btn class="mt-3" variant="outline-primary" @click="hideModal">닫기</b-btn>
        </b-modal>
      </div>
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
import TopFrame from "./TopFrame";
import Navi from "./Navi";
import axios from "axios";
import Footer from "./Footer";

const Vue = require('vue');
const VueScrollTo = require('vue-scrollto');

export default {
  components: {
    Navi,
    TopFrame,
    Footer
  },
  name: "CustomSearch",
  data() {
    return {
      infoMsg: '',
      search_text: '',
      selectDivision_param: [],
      premiumCustomers: [],
      divisions: [
        { value: "전체", text: "전체", variant: "outline-secondary", state: false },
        { value: "개인회생", text: "개인회생", variant: "outline-secondary", state: false },
        { value: "개인파산", text: "개인파산", variant: "outline-secondary", state: false }
      ],
      selectArea_param: [],
      areas: [
        { value: "전체", text: "전체", variant: "outline-secondary", state: false,},
        { value: "서울", text: "서울", variant: "outline-secondary", state: false },
        { value: "인천", text: "인천", variant: "outline-secondary", state: false },
        { value: "부산", text: "부산", variant: "outline-secondary", state: false },
        { value: "대전", text: "대전", variant: "outline-secondary", state: false },
        { value: "울산", text: "울산", variant: "outline-secondary", state: false },
        { value: "대구", text: "대구", variant: "outline-secondary", state: false },
        { value: "광주", text: "광주", variant: "outline-secondary", state: false },
        { value: "세종", text: "세종", variant: "outline-secondary", state: false },
        { value: "경기", text: "경기", variant: "outline-secondary", state: false },
        { value: "강원", text: "강원", variant: "outline-secondary", state: false },
        { value: "충북", text: "충북", variant: "outline-secondary", state: false },
        { value: "충남", text: "충남", variant: "outline-secondary", state: false },
        { value: "경북", text: "경북", variant: "outline-secondary", state: false },
        { value: "경남", text: "경남", variant: "outline-secondary", state: false },
        { value: "전북", text: "전북", variant: "outline-secondary", state: false },
        { value: "전남", text: "전남", variant: "outline-secondary", state: false },
        { value: "제주", text: "제주", variant: "outline-secondary", state: false }
      ],
      customers: [],
      fields: [
        { key: "ah_ad_division", label: "서비스", class: "text-center" },
        { key: "lo_name", label: "회사명", class: "text-center" },
        { key: "lo_ceo_name", label: "대표자명", class: "text-center" },
        { key: "lo_phone", label: "전화번호", class: "text-center" },
        { key: "ah_ad_area", label: "지역", class: "text-center" },
        { key: "date", label: "등록일자", class: "text-center" }
      ],
      currentPage: 1,
      perPage: 10,
      totalRows: 0,
      pageOptions: [10, 20, 30],
      sortBy: null,
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      emptyText: "등록된 업체가 없습니다.",
      emptyFilteredText: "찾는 업체가 없습니다.",
      detailFlag: false,
      customer: {
        lo_name: "",
        lo_ceo_name: "",
        lo_regist_number: "",
        lo_phone: "",
        lo_postcode: "",
        lo_address: "",
        lo_core_business: "",
        lo_service_target: "",
        lo_description: "",
        lo_homepage: ""
      }
    };
  },
  methods: {
    createCustomer() {
      this.$router.push({ path: "./CreateCustomer" });
    },
    selectLocation(area) {
      if (area == "전체") {
        for (var i = 1; i < this.areas.length; i++) {
          this.areas[i].state = false;
          this.selectArea_param = [];
        }
        this.selectArea_param.push(area);
        //alert(JSON.stringify(this.selectArea_param));
      } else {
        for (var i = this.selectArea_param.length - 1; i >= 0; i--) {
          if (this.selectArea_param[i] == area) {
            this.selectArea_param.splice(i, 1);
            return;
          }
        }
        for (var i = 0; i < this.selectArea_param.length; i++) {
          if (this.selectArea_param[i] == "전체") {
            this.areas[i].state = false;
            this.selectArea_param = [];
          }
        }
        this.selectArea_param.push(area);
        //alert(JSON.stringify(this.selectArea_param));
      }
    },
    selectDivision(division) {
      if (division == "전체") {
        for (var i = 1; i < this.divisions.length; i++) {
          this.divisions[i].state = false;
          this.selectDivision_param = [];
        }
        this.selectDivision_param.push(division);
      } else {
        for (var i = this.selectDivision_param.length - 1; i >= 0; i--) {
          if (this.selectDivision_param[i] == division) {
            this.selectDivision_param.splice(i, 1);
            return;
          }
        }
        for (var i = 0; i < this.selectDivision_param.length; i++) {
          if (this.selectDivision_param[i] == "전체") {
            this.divisions[i].state = false;
            this.selectDivision_param = [];
          }
        }
        this.selectDivision_param.push(division);
      }
    },
    
    detailSearch() {
      this.detailFlag = false;
      this.$store.state.top_search.search_mode = "detail";
      this.getLegalOffices();
    },
    totalSearch() {
      this.$store.state.top_search.search_mode = "total";
      this.getLegalOffices();
      this.getSearchTexts();
    },
    getSearchTexts() {
      this.$store.state.searchTextData = [];
      var data = new FormData();
      data.append("CRUD_mode", "get");
      axios
        .post(this.$store.state.lawketBaseUrl + "CRUD_search_text.php", data)
        .then(response => {
          if (!response.data.result) {
            this.infoMsg = response.data.msg;
            this.showModal();
          } else {
            for (var i = 0; i < 5; i++) {
              this.$store.state.searchTextData.push(response.data.search_texts[i]);
            }
          }
        })
        .catch(error => {
          console.log(error);
          //alert(JSON.stringify(error));
        })
        .finally(() => (this.loading = false));
    },
    getLegalOffices() {
      if(this.search_text != '') {
        this.$store.state.top_search.search_text = this.search_text;
      }
      this.customers = [];
      var data = new FormData();
      data.append("GET_mode", "search");
      data.append("search_mode", this.$store.state.top_search.search_mode);
      data.append("search_text", this.$store.state.top_search.search_text);
      data.append("ah_ad_division", this.selectDivision_param.toString());
      data.append("ah_ad_area", this.selectArea_param.toString());
      axios
        .post(this.$store.state.lawketBaseUrl + "GET_legal_office.php", data)
        .then(response => {
          if (!response.data.result) {
            this.infoMsg = response.data.msg;
            this.showModal();
          } else {
            this.customers = response.data.legal_offices;
            this.totalRows = this.customers.length;
            if(this.$store.state.eachData.customerData != '') {
              this.showDetail(this.$store.state.eachData.customerData);
              this.$store.state.eachData.customerData = '';
            }
          }
        })
        .catch(error => {
          console.log(error);
          //alert(JSON.stringify(error));
        })
        .finally(() => (this.loading = false));
    },
    showDetail(item) {
      this.detailFlag = true;
      this.customer.lo_name = item.lo_name;
      this.customer.lo_ceo_name = item.lo_ceo_name;
      this.customer.lo_regist_number = item.lo_regist_number;
      this.customer.lo_phone = item.lo_phone;
      this.customer.lo_postcode = item.lo_postcode;
      this.customer.lo_address = item.lo_address1 + " " + item.lo_address2;
      this.customer.lo_core_business = item.lo_core_business;
      this.customer.lo_service_target = item.lo_service_target;
      this.customer.lo_description = item.lo_description;
      this.customer.lo_homepage = item.lo_homepage;
    },
    viewList() {
      this.detailFlag = false;
      this.customer.lo_name = "";
      this.customer.lo_ceo_name = "";
      this.customer.lo_regist_number = "";
      this.customer.lo_phone = "";
      this.customer.lo_postcode = "";
      this.customer.lo_address = "";
      this.customer.lo_core_business = "";
      this.customer.lo_service_target = "";
      this.customer.lo_description = "";
      this.customer.lo_homepage = "";
    },
    showModal() {
      this.$refs.infoModal.show();
    },
    hideModal() {
      this.$refs.infoModal.hide();
    },
    formatToPrice(value) {
      return ` ${value.toFixed(0)}`;
    },
  },
  mounted() {
    if(this.$store.state.top_search.search_mode == '') {
      this.$store.state.top_search.search_mode = 'total';
      this.$store.state.top_search.search_text = '전체';
    };
    this.selectDivision_param.push("전체");
    this.selectArea_param.push("전체");
    this.getLegalOffices();
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.col-text {
  padding-top: 7px;
  padding-right: 0px;
  padding-left: 30px;
}
</style>
