<template>
  <div class="ServiceCenter" align="center">
    <TopFrame></TopFrame>
    <Navi></Navi>
    <div class="cotainer">
      <div class="faq_cont">
        <h5 class="sub_top_title">
          자주묻는 질문
          <span class="sub_navi">
            HOME > 고객센터 >
            <strong>자주묻는 질문</strong>
          </span>
        </h5>
        <div class="faq">
          <VueFaqAccordion :items="myItems"/>
        </div>
      </div>
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
import TopFrame from "./TopFrame";
import Navi from "./Navi";
import Footer from "./Footer";
import axios from "axios";
import VueFaqAccordion from "vue-faq-accordion";
export default {
  components: {
    TopFrame,
    Navi,
    Footer,
    VueFaqAccordion
  },
  name: "ServiceCenter",
  data() {
    return {
      myItems: [
        {
          title: "{{row.item.f_content}}",
          value:
            "Given a 24-hour day and 360 degrees of longitude around the Earth",
          category: "의뢰인 자주묻는 질문"
        },
        {
          title: "How long is a day and year on Venus?",
          value:
            "Venus takes 224.7 Earth days to complete one orbit around the Sun.",
          category: "변호사 자주묻는 질문"
        }
      ],
      infoMsg: "",
      confirmMsg: "",
      selected_f_id: "",
      formShow: true,
      faqs: [],
      fields: [
        { key: "f_id", label: "SEQ", class: "text-center" },
        { key: "f_subject", label: "제목", class: "text-center" },
        { key: "f_creator", label: "만든이", class: "text-center" },
        { key: "date", label: "날짜" },
        { key: "actions", label: "", class: "text-center" }
      ],
      currentPage: 1,
      perPage: 10,
      totalRows: 0,
      pageOptions: [10, 20, 30],
      sortBy: null,
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      emptyText: "등록된 자료가 없습니다.",
      emptyFilteredText: "찾는 자료가 없습니다."
    };
  },
  methods: {
    getFaqs() {
      this.faqs = [];
      var data = new FormData();
      data.append("CRUD_mode", "get");
      axios
        .post(this.$store.state.lawketBaseUrl + "CRUD_faq.php", data)
        .then(response => {
          if (!response.data.result) {
            this.infoMsg = response.data.msg;
            this.showModal();
          } else {
            this.faqs = response.data.faqs;
            this.totalRows = this.faqs.length;
          }
        })
        .catch(error => {
          console.log(error);
          //alert(JSON.stringify(error));
        })
        .finally(() => (this.loading = false));
    },

    showModal() {
      this.$refs.infoModal.show();
    },
    hideModal() {
      this.$refs.infoModal.hide();
    }
  },
  mounted() {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
