<template>
  <div class="Notice" align="center">
    <TopFrame></TopFrame>
    <Navi></Navi>
    <div class="cotainer">
    <div class="consult_cont">
     <h5 class="sub_top_title">실시간 법률문의 이용방법 <span>실시간 법률문의 글 작성시 역경매 방식 시스템으로 보다 쉽고 편리하게 법률 상담을 받아보실 수 있습니다. </span></h5>
      <div class="consult_process">
        <dl>
          <dt>1단계</dt>
          <dd class="bg1">
            <p><span>실시간 법률문의 글 작성</span>
            의뢰인이 실시간 법률문의 글을 작성합니다.
            자세하게 작성할 수록 정확한 상담확률이 높아집니다.</p>
          </dd>
        </dl>
        <dl>
          <dt>2단계</dt>
          <dd class="bg2">
            <p><span>다수 법률 사무소에서 검토</span>
            다수의 법률사무소에서 의뢰인이 남긴 법률문의를 검토하는 단계입니다.</p>
          </dd>
        </dl>
        <dl>
          <dt>3단계</dt>
          <dd class="bg3">
            <p><span>법률 사무소의 상담 등록</span>
           상담이 가능한 법률사무소가 작성글 밑에 등록을 하게 됩니다. </p>
          </dd>
        </dl>
        <dl>
          <dt>4단계</dt>
          <dd class="bg4">
            <p><span>법률 사무소와의 상담 시작</span>
            의뢰인이 업체정보열람을 통해 직접 해당 법률사무소에 연락하여 상담을 받아보실 수 있습니다. </p>
          </dd>
        </dl>
      </div>
    </div>
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
import TopFrame from "./TopFrame";
import Navi from "./Navi";
import Footer from "./Footer";
import axios from "axios";

export default {
  components: {
    TopFrame,
    Navi,
    Footer
  },
  name: "Company_vision",
  data() {
    return {
 
    };
  },
  methods: {

  },
  mounted() {
  
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
