<template>
  <div class="Information" align="center">
    <TopFrame id="scrollTop"></TopFrame>
    <Navi></Navi>
    <div class="cotainer">
      <div class="noitce_cont">
        <h5 class="sub_top_title">공지사항</h5>
        <div class="lnb">sdfsdf</div>
        <div class="lnb_content">
          <div id="scrollTop"></div>
          <div class="customer_info" id="company_top" v-if="detailFlag">
            <b-row align="left">
              <b-col cols="2">NO.:</b-col>
              <b-col cols="6">
                <span v-html="information.i_id"></span>
              </b-col>
            </b-row>
            <b-row align="left">
              <b-col cols="2">제목:</b-col>
              <b-col cols="6">
                <span v-html="information.i_subject"></span>
              </b-col>
            </b-row>
            <b-row align="left">
              <b-col cols="2">날짜:</b-col>
              <b-col cols="6">
                <span v-html="information.date"></span>
              </b-col>
            </b-row>
            <b-row align="left">
              <b-col cols="2">조회수</b-col>
              <b-col cols="6">
                <span v-html="information.i_view_count"></span>
              </b-col>
            </b-row>
            <b-row align="left">
              <b-col cols="2">내용:</b-col>
              <b-col cols="6">
                <span v-html="information.i_content"></span>
              </b-col>
            </b-row>

            <b-row>
              <b-col cols="11"></b-col>
              <b-col cols="1">
                <b-btn size="sm" variant="info" @click="viewList">목록</b-btn>
              </b-col>
            </b-row>
          </div>
          <b-table
            show-empty
            stacked="sm"
            :items="informations"
            :fields="fields"
            :current-page="currentPage"
            :per-page="perPage"
            :filter="filter"
            :empty-text="emptyText"
            :empty-filtered-text="emptyFilteredText"
            :sort-by.sync="sortBy"
            :sort-desc.sync="sortDesc"
            :sort-direction="sortDirection"
            @row-clicked="showDetail"
            v-scroll-to="'#scrollTop'"
          ></b-table>
          <b-row>
            <b-col cols="2"></b-col>
            <b-col cols="6">
              <b-form-group horizontal label>
                <b-input-group>
                  <b-form-input v-model="filter" placeholder="찾을 내용을 입력하세요"/>
                  <b-input-group-append>
                    <b-btn :disabled="!filter" @click="filter = ''">지우기</b-btn>
                  </b-input-group-append>
                </b-input-group>
              </b-form-group>
            </b-col>
            <b-col cols="3">
              <b-pagination
                :total-rows="totalRows"
                :per-page="perPage"
                v-model="currentPage"
                class="my-0"
              />
            </b-col>
          </b-row>

          <b-modal ref="infoModal" hide-footer title="알림">
            <div class="d-block text-center">
              <h5>{{ infoMsg }}</h5>
            </div>
            <b-btn class="mt-3" variant="outline-primary" @click="hideModal">닫기</b-btn>
          </b-modal>
        </div>
      </div>
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
import TopFrame from "./TopFrame";
import Navi from "./Navi";
import Footer from "./Footer";
import axios from "axios";

const Vue = require("vue");
const VueScrollTo = require("vue-scrollto");

export default {
  components: {
    TopFrame,
    Navi,
    Footer
  },
  name: "Informations",
  data() {
    return {
      infoMsg: "",
      confirmMsg: "",
      selected_i_id: "",
      formShow: true,
      informations: [],
      fields: [
        { key: "i_id", label: "No.", class: "text-center", sortable: true },
        { key: "i_subject", label: "제목", class: "text-center" },
        { key: "i_creator", label: "작성자" },
        { key: "date", label: "작성일" },
        { key: "i_view_count", label: "조회수", class: "text-center" }
      ],
      currentPage: 1,
      perPage: 10,
      totalRows: 0,
      pageOptions: [10, 20, 30],
      sortBy: null,
      sortDesc: false,
      sortDirection: "desc",
      filter: null,
      emptyText: "등록된 자료가 없습니다.",
      emptyFilteredText: "찾는 자료가 없습니다.",
      detailFlag: false,
      information: {
        i_id: "",
        i_subject: "",
        i_content: "",
        i_view_count: "",
        date: ""
      }
    };
  },
  methods: {
    getInformations() {
      this.informations = [];
      var data = new FormData();
      data.append("CRUD_mode", "get");
      data.append("get_mode", "list");
      axios
        .post(this.$store.state.lawketBaseUrl + "CRUD_information.php", data)
        .then(response => {
          if (!response.data.result) {
            this.infoMsg = response.data.msg;
            this.showModal();
          } else {
            this.informations = response.data.informations;
            this.totalRows = this.information.length;
            if(this.$store.state.eachData.informationData != '') {
              this.showDetail(this.$store.state.eachData.informationData);
              this.$store.state.eachData.informationData = '';
            }
          }
        })
        .catch(error => {
          console.log(error);
          //alert(JSON.stringify(error));
        })
        .finally(() => (this.loading = false));
    },
    showDetail(item) {
      this.detailFlag = true;
      var data = new FormData();
      data.append("CRUD_mode", "read");
      data.append("i_id", item.i_id);
      axios
        .post(this.$store.state.lawketBaseUrl + "CRUD_information.php", data)
        .then(response => {
          if (!response.data.result) {
            this.infoMsg = response.data.msg;
            this.showModal();
          } else {
            this.information.i_id = response.data.information.i_id;
            this.information.i_subject = response.data.information.i_subject;
            this.information.i_content = response.data.information.i_content;
            this.information.i_view_count = response.data.information.i_view_count;
            this.information.date = response.data.information.date;
          }
        })
        .catch(error => {
          console.log(error);
          //alert(JSON.stringify(error));
        })
        .finally(() => (this.loading = false));
    },
    viewList() {
      this.detailFlag = false;
      this.information.i_id = "";
      this.information.i_subject = "";
      this.information.i_content = "";
      this.information.i_view_count = 0;
      this.information.date = "";
    },
    showModal() {
      this.$refs.infoModal.show();
    },
    hideModal() {
      this.$refs.infoModal.hide();
    }
  },
  mounted() {
    this.getInformations();
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* 리셋css */
			html, body, div, span, applet, object, iframe,
			h1, h2, h3, h4, h5, h6, p, blockquote, pre,
			a, abbr, acronym, address, big, cite, code,
			del, dfn, em, img, ins, kbd, q, s, samp,
			small, strike, strong, sub, sup, tt, var,
			b, u, i, center,
			dl, dt, dd, ol, ul, li,
			fieldset, form, label, legend,
			table, caption, tbody, tfoot, thead, tr, th, td,
			article, aside, canvas, details, embed, 
			figure, figcaption, footer, header, hgroup, 
			menu, nav, output, ruby, section, summary,
			time, mark, audio, video {
				margin: 0;
				padding: 0;
				border: 0;
				font-size: 100%;
				font: inherit;
				vertical-align: baseline;
				text-decoration:none;
			}
			article, aside, details, figcaption, figure, 
			footer, header, hgroup, menu, nav, section {
				display: block;
			}
			body {
				line-height: 1;
			}
			ol, ul {
				list-style: none;
			}
			blockquote, q {
				quotes: none;
			}
			blockquote:before, blockquote:after,
			q:before, q:after {
				content: '';
				content: none;
			}
			table {
				border-collapse: collapse;
				border-spacing: 0;
			}
		/* 또군css */
		body{background-color:#d1d1d1;}
		.notice{width:100%; height:50px; overflow:hidden; background-color:#fff;}
		.rolling{position:relative; width:100%; height:auto;}
		.rolling li{width:100%; height:50px; line-height:50px;}
</style>
