<template>
  <div class="Login">
    <TopFrame></TopFrame>
    <Navi></Navi>
    <div class="container">
      <div class="sub_login_cont">
        <h5>로그인</h5>
        <div class="login_cont">
        <div v-if="!this.$store.state.legalOfficeFlag">
          <br>
          <b-row>
            <b-col cols="3"></b-col>
            <b-col cols="6">
              <b-form-group>
                <b-form-input type="email" v-model="lo_email" required placeholder="이메일" ></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col cols="3"></b-col>
            <b-col cols="6">
              <b-form-group>
                <b-form-input type="password" v-model="lo_password" required placeholder="비밀번호" ></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col cols="3"></b-col>
            <b-col cols="3" align="center">
              <b-btn block variant="secondary" @click="cancelCustomer">취소</b-btn>
            </b-col>
              <b-row>
                    <b-col cols="6" align="center">
                      <b-btn block variant="warning" @click="searchCustomerPassword">비밀번호 찾기</b-btn>
                    </b-col>
                    <b-col cols="6" align="center">
                      <b-btn block variant="warning" @click="changeCustomerPassword">비밀번호 변경</b-btn>
                    </b-col>
                  </b-row>
            <b-col cols="3" align="center">
              <b-btn block variant="primary" @click="loginCustomer">로그인</b-btn>
            </b-col>
          </b-row>
          <br>
          <b-row>
            <b-col cols="3"></b-col>
            <b-col cols="6" align="center">
              <b-btn block variant="success" @click="createCustomer">회원가입</b-btn>
            </b-col>
          </b-row>
        </div>
        </div>

        <b-modal ref="infoModal" hide-footer title="알림">
          <div class="d-block text-center">
            <h5>{{ infoMsg }}</h5>
          </div>
          <b-btn class="mt-3" variant="outline-primary" @click="hideModal">닫기</b-btn>
        </b-modal>
        <b-modal
          v-model="showSearchModal"
          title="비밀번호 찾기/변경"
          no-close-on-esc
          no-close-on-backdrop
          hide-header-close
        >
          <b-container fluid>
            <div v-if="searchPasswordFlag">
              <b-row>
                <b-col>
                  <b-form-group>
                    <b-form-input type="email" v-model="search_email" required placeholder="이메일을 입력하세요." ></b-form-input>
                  </b-form-group>
                </b-col>
              </b-row>
            </div>
            <div v-if="changePasswordFlag">
              <b-row>
                <b-col>
                  <b-form-group>
                    <b-form-input type="email" v-model="search_email" required placeholder="이메일을 입력하세요." ></b-form-input>
                  </b-form-group>
                </b-col>
              </b-row>
              <b-row>
                <b-col>
                  <b-form-group>
                    <b-form-input type="password" v-model="current_password" required placeholder="비밀번호를 입력하세요." ></b-form-input>
                  </b-form-group>
                </b-col>
              </b-row>
              <b-row>
                <b-col>
                  <b-form-group>
                    <b-form-input
                      type="password"
                      v-model="change_password" required placeholder="변경할 비밀번호를 영.숫자 포함 8자리 ~ 15자리로 입력하세요." ></b-form-input>
                  </b-form-group>
                </b-col>
              </b-row>
              <b-row>
                <b-col>
                  <b-form-group>
                    <b-form-input type="password" v-model="rechange_password" required placeholder="변경할 비밀번호를 다시 입력하세요." ></b-form-input>
                  </b-form-group>
                </b-col>
              </b-row>
            </div>
            <b-row class="col-text">
              <b-col cols="3"></b-col>
              <b-col>
                <p>{{ searchModalMessage }}</p>
              </b-col>
            </b-row>
          </b-container>
          <div slot="modal-footer" class="w-100">
            <b-btn size="md" class="float-left" variant="light" @click="exitCustomerSearchModal">취소</b-btn>
            <b-btn size="md" class="float-right" variant="primary" @click="tryCustomerSubmit">제출</b-btn>
          </div>
        </b-modal>
      </div>
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
import TopFrame from "./TopFrame";
import Navi from "./Navi";
import Footer from "./Footer";
import axios from "axios";

export default {
  name: "Login",
  components: {
    TopFrame,
    Navi,
    Footer
  },
  data() {
    return {
      infoMsg: '',
      lo_id: 0,
      lo_email: '',
      lo_password: '',
      lo_name: '',
      signUpFlag: false,
      updateInfoFlag: false,
      showSearchModal: false,
      searchPasswordFlag: false,
      changePasswordFlag: false,
      search_email: '',
      current_password: '',
      change_password: '',
      rechange_password: '',
      searchModalMessage: '',
      ad_historys: [],
      fields: [
        { key: 'at_title', label: '광고종류', 'class': 'text-center' },
        { key: 'ah_occur_date', label: '신청일자', 'class': 'text-center' },
        { key: 'ah_start_date', label: '개시일자', 'class': 'text-center' },
        { key: 'ah_end_date', label: '종료일자', 'class': 'text-center' },
        { key: 'ah_payment_amount', label: '결제금액', 'class': 'text-center' },
        { key: 'ah_payment_desc', label: '결제상태', 'class': 'text-center', sortable: true, sortDirection: 'desc', },
        { key: 'ah_payment_name', label: '결제자', 'class': 'text-center' },
      ],
      currentPage: 1,
      perPage: 10,
      totalRows: 0,
      pageOptions: [ 10, 20, 30 ],
      sortBy: null,
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
    };
  },
  computed: {},
  methods: {
    updateCustomer() {
      this.updateInfoFlag = true;
      this.$router.push({ path: "./UpdateCustomer" });
    },

    searchCustomerPassword() {
      this.searchPasswordFlag = true;
      this.showSearchModal = true;
    },
    changeCustomerPassword() {
      this.changePasswordFlag = true;
      this.showSearchModal = true;
    },

    exitCustomerSearchModal() {
      this.searchModalMessage = "";
      this.search_email = "";
      this.searchPasswordFlag = false;
      this.changePasswordFlag = false;
      this.change_password = "";
      this.rechange_password = "";
      this.showSearchModal = false;
    },

     tryCustomerSubmit() {
      if (this.searchPasswordFlag) {
        if (this.search_email == '') {
          this.searchModalMessage = "이메일을 입력해주세요.";
          return;
        }
        var data = new FormData();
        data.append("CRUD_mode", "search_pw");
        data.append("lo_email", this.search_email);
      } else if (this.changePasswordFlag) {
        if (this.search_email == '') {
          this.searchModalMessage = "이메일을 입력해주세요.";
          return;
        } else if (this.current_password == '') {
          this.searchModalMessage = "비밀번호를 입력해주세요.";
          return;
        } else if (this.change_password == '') {
          this.searchModalMessage = "변경할 비밀번호를 입력해주세요.";
          return;
        } else if (this.rechange_password == '') {
          this.searchModalMessage =
            "비밀번호를 다시한번 입력해주세요.";
          return;
        } else if ( this.change_password != this.rechange_password ) {
          this.searchModalMessage = "비밀번호를 다시한번 확인해주세요.";
          return;
        }

        if ( !this.checkString( "password", this.change_password)) {
          console.log("checkString --> false");
          return;
        }
        var data = new FormData();
        data.append("CRUD_mode", "change_pw");
        data.append("lo_email", this.search_email);
        data.append("lo_password", this.current_password);
        data.append("change_password", this.change_password);
      }

      axios
        .post(this.$store.state.lawketBaseUrl + "CRUD_legal_office.php", data)
        .then(response => {
          this.searchModalMessage = response.data.msg;
        })
        .catch(error => {
          console.log(error);
        })
        .finally(() => (this.loading = false));
    },


    loginCustomer() {
      var data = new FormData();
      data.append("CRUD_mode", "login");
      data.append("lo_email", this.lo_email);
      data.append("lo_password", this.lo_password);
      axios
        .post(this.$store.state.lawketBaseUrl + "CRUD_legal_office.php", data)
        .then(response => {
          if (!response.data.result) {
            this.infoMsg = response.data.msg;
            this.showModal();
          } else {
            this.$store.state.legalOfficeData = response.data.legal_office;
            this.$store.state.legalOfficeFlag = true;
            this.$router.push({ path: "./MyPage" });
          }
        })
        .catch(error => {
          console.log(error);
          //alert(JSON.stringify(error));
        })
        .finally(() => (this.loading = false));
    },

    createCustomer() {
      this.$router.push({ path: "./CreateCustomer" });
    },

    cancelCustomer() {
      this.$store.state.legalOfficeData = [];
      this.$store.state.legalOfficeFlag = false;
      this.$router.push({ path: "./" });
    },

    showModal() {
      this.$refs.infoModal.show();
    },
    hideModal() {
      this.$refs.infoModal.hide();
    }
  },

  mounted() {}
};
</script>

<style scoped>
</style>