<template>
  <div class="Notice" align="center">
    <TopFrame id="scrollTop"></TopFrame>
    <Navi></Navi>
    <div class="cotainer">
      <div class="noitce_cont">
        
        <div class="lnb">
          <h5>고객센터<br/> <span>Customer Center</span></h5>
          <ul>
            <li class="active" @click="notice_btn">공지사항 </li>
            <li @click="faq">자주묻는 질문</li>
            <li @click="AddQuestion">1:1 문의 </li>
            <li @click="adInformation">광고문의 </li>
          </ul>
          <div class="lf_menu_cont">
          <p class="left_menu_banner" @click="searchByRegion">
              지역별 업체검색
          </p>
          <p class="left_menu_banner" @click="searchByProduct">
            분야별 업체검색
          </p>
          </div>
        </div>
        <div class="lnb_content">
          <h5 class="sub_top_title">공지사항</h5>
          <div id="scrollTop"></div>
          <div class="customer_info" id="company_top" v-if="detailFlag">
            <table class="list_top">
              <thead>
                        	<tr>
                            	<th v-html="notice.n_subject"></th>
                                <td>작성일 : <span v-html="notice.date"></span></td>
                                <td>조회수 : <span v-html="notice.n_view_count"></span></td>
                            </tr>
                        </thead>
                        <tbody>
                        	<tr>
                            	<td colspan="3" v-html="notice.n_content"></td>
                            </tr>
                           
                        </tbody>

            </table>
           
            <div class="nt_list_btn">
             
                <b-btn size="sm" variant="info" @click="viewList">목록</b-btn>
            
            </div>
          </div>
          <b-table
            show-empty
            stacked="sm"
            :items="notices"
            :fields="fields"
            :current-page="currentPage"
            :per-page="perPage"
            :filter="filter"
            :empty-text="emptyText"
            :empty-filtered-text="emptyFilteredText"
            :sort-by.sync="sortBy"
            :sort-desc.sync="sortDesc"
            :sort-direction="sortDirection"
            @row-clicked="showDetail"
            class="nt_list"
            v-scroll-to="'#scrollTop'"
          ></b-table>
          <div class="paging_cont">
              <b-pagination
                :total-rows="totalRows"
                :per-page="perPage"
                v-model="currentPage"
                class="my-0"
              />
            </div>
           <div class="list_search_bottom">
   
                <b-input-group>
                  <b-form-input v-model="filter" placeholder="찾을 내용을 입력하세요"/>
                  <b-input-group-append>
                    <b-btn :disabled="!filter" @click="filter = ''">지우기</b-btn>
                  </b-input-group-append>
                </b-input-group>
             
            </div>
            
         

          <b-modal ref="infoModal" hide-footer title="알림">
            <div class="d-block text-center">
              <h5>{{ infoMsg }}</h5>
            </div>
            <b-btn class="mt-3" variant="outline-primary" @click="hideModal">닫기</b-btn>
          </b-modal>
        </div>
      </div>
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
import TopFrame from "./TopFrame";
import Navi from "./Navi";
import Footer from "./Footer";
import axios from "axios";

const Vue = require("vue");
const VueScrollTo = require("vue-scrollto");

export default {
  components: {
    TopFrame,
    Navi,
    Footer
  },
  name: "Notices",
  data() {
    return {
      infoMsg: "",
      confirmMsg: "",
      selected_n_id: "",
      formShow: true,
      notices: [],
      fields: [
        { key: "n_id", label: "No.", class: "text-center", sortable: true },
        { key: "n_subject", label: "제목", class: "subject_css" },
        { key: "n_creator", label: "작성자", class: "text-center" },
        { key: "date", label: "작성일", class: "text-center" },
        { key: "n_view_count", label: "조회수", class: "text-center" }
      ],
      currentPage: 1,
      perPage: 10,
      totalRows: 0,
      pageOptions: [10, 20, 30],
      sortBy: null,
      sortDesc: false,
      sortDirection: "desc",
      filter: null,
      emptyText: "등록된 자료가 없습니다.",
      emptyFilteredText: "찾는 자료가 없습니다.",
      detailFlag: false,
      notice: {
        n_id: "",
        n_subject: "",
        n_content: "",
        n_view_count: "",
        date: ""
      }
    };
  },
  methods: {
   notice_btn() {
      this.$router.push({ path: "./notice" });
    },
     faq() {
      this.$router.push({ path: "./faq" });
    },
     AddQuestion() {
      this.$router.push({ path: "./AddQuestion" });
    },
     adInformation() {
      this.$router.push({ path: "./adInformation" });
    },
     searchByRegion() {
      this.$router.push({ path: "./searchByRegion" });
    },
     searchByProduct() {
      this.$router.push({ path: "./searchByProduct" });
    },
    getNotices() {
      this.notices = [];
      var data = new FormData();
      data.append("CRUD_mode", "get");
      data.append("get_mode", "list");
      axios
        .post(this.$store.state.lawketBaseUrl + "CRUD_notice.php", data)
        .then(response => {
          if (!response.data.result) {
            this.infoMsg = response.data.msg;
            this.showModal();
          } else {
            this.notices = response.data.notices;
            this.totalRows = this.notice.length;
            if(this.$store.state.eachData.noticeData != '') {
              this.showDetail(this.$store.state.eachData.noticeData);
              this.$store.state.eachData.noticeData = '';
            }
          }
        })
        .catch(error => {
          console.log(error);
          //alert(JSON.stringify(error));
        })
        .finally(() => (this.loading = false));
    },
    showDetail(item) {
      this.detailFlag = true;
      var data = new FormData();
      data.append("CRUD_mode", "read");
      data.append("n_id", item.n_id);
      axios
        .post(this.$store.state.lawketBaseUrl + "CRUD_notice.php", data)
        .then(response => {
          if (!response.data.result) {
            this.infoMsg = response.data.msg;
            this.showModal();
          } else {
            this.notice.n_id = response.data.notice.n_id;
            this.notice.n_subject = response.data.notice.n_subject;
            this.notice.n_content = response.data.notice.n_content;
            this.notice.n_view_count = response.data.notice.n_view_count;
            this.notice.date = response.data.notice.date;
          }
        })
        .catch(error => {
          console.log(error);
          //alert(JSON.stringify(error));
        })
        .finally(() => (this.loading = false));
    },
    viewList() {
      this.detailFlag = false;
      this.notice.n_id = "";
      this.notice.n_subject = "";
      this.notice.n_content = "";
      this.notice.n_view_count = 0;
      this.notice.date = "";
    },
    showModal() {
      this.$refs.infoModal.show();
    },
    hideModal() {
      this.$refs.infoModal.hide();
    }
  },
  mounted() {
    this.getNotices();
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
