<template>
  <div class="CustomSearch" align="center">
        <div class="head_top">
      <div class="head_navi">
        <a href="#/Login" id="favorite" >로그인</a>
        <a href="#/adInformation"><img src="http://192.168.1.220:8080/images/head_icon.png" alt="광고문의" /> 광고문의</a>
      </div>
    </div>
    <div class="logo_search_cont">
      <div class="head_logo">
        <a href="#/" target="_self" class="navbar-brand">
          <img
            src="http://192.168.1.220:8080/images/head_logo.png"
            alt="lawket"
            class="d-inline-block align-top"
          >
        </a>
      </div>
      <div class="top_head_banner">
         <carousel
                :per-page="1"
                :mouse-drag="false"
                :autoplay="true"
                :loop="true"
                :autoplayTimeout="5000"
              >
                <slide data-index="0" data-name="customer">
                  <div class="main_top_com_info_layout">
                    <img src="http://192.168.1.220:8080/images/head_banner1.png" alt="" />
                  </div>
                </slide>
                <slide data-index="0" data-name="customer">
                  <div class="main_top_com_info_layout">
                    <img src="http://192.168.1.220:8080/images/head_banner1.png" alt="" />
                  </div>
                </slide>
              </carousel>
      </div>
    </div>
    <Navi></Navi>
    <div class="container">
      <div class="customer_cont">
     
        
        
        <div class="customer_info" id="company_top" v-if="detailFlag">
          <b-row align="left">
            <b-col cols="2">회사명:</b-col>
            <b-col cols="6"><span v-html="customer.lo_name"></span></b-col>
          </b-row>
          <b-row align="left">
            <b-col cols="2">대표자명:</b-col>
            <b-col cols="6"><span v-html="customer.lo_ceo_name"></span></b-col>
          </b-row>

          <b-row>
            <b-col cols="11"></b-col>
            <b-col cols="1"><b-btn size="sm" variant="info" @click="viewList">목록</b-btn></b-col>
          </b-row>
        </div>
        <div class="customer_bottom">
        <h5>
         <img src="http://192.168.1.220:8080/images/customer_sub_title_bg.png" alt="맞춤 검색 결과" /> 맞춤 검색 결과 총  
         <span>{{totalRows}}</span> 개
        </h5>
      
          <b-table
            show-empty
            stacked="sm"
            :items="Notices"
            :fields="fields"
            :current-page="currentPage"
            :per-page="perPage"
            :filter="filter"
            :empty-text="emptyText"
            :empty-filtered-text="emptyFilteredText"
            :sort-by.sync="sortBy"
            :sort-desc.sync="sortDesc"
            :sort-direction="sortDirection"
            @row-clicked="showDetail"></b-table>
  <div class="paging_cont">
              <b-pagination
                :total-rows="totalRows"
                :per-page="perPage"
                v-model="currentPage"
                class="my-0"
              />
            </div>
            <div class="list_search_bottom">
            
                <b-input-group>
                  <b-form-input v-model="filter" placeholder="찾을 내용을 입력하세요"/>
                  <b-input-group-append>
                    <b-btn :disabled="!filter" @click="filter = ''">지우기</b-btn>
                  </b-input-group-append>
                </b-input-group>
             
            </div>

        </div>
        <b-modal ref="infoModal" hide-footer title="알림">
          <div class="d-block text-center">
            <h5>{{ infoMsg }}</h5>
          </div>
          <b-btn class="mt-3" variant="outline-primary" @click="hideModal">닫기</b-btn>
        </b-modal>
      </div>
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
import TopFrame from "./TopFrame";
import Navi from "./Navi";
import axios from "axios";
import Footer from "./Footer";

export default {
  components: {
    Navi,
    TopFrame,
    Footer
  },
  name: "notices",
  data() {
    return {
      infoMsg: "",
      selectDivision_param: [],
      notices: [],
      fields: [
        { key: "n_id", label: "서비스", class: "text-center" },
        { key: "n_subject", label: "회사명", class: "text-center" },
        { key: "n_content", label: "대표자명", class: "text-center" },
        { key: "n_creator", label: "전화번호", class: "text-center" },
        { key: "created", label: "지역", class: "text-center" },
        { key: "date", label: "등록일자", class: "text-center" }
      ],
      currentPage: 1,
      perPage: 10,
      totalRows: 0,
      pageOptions: [10, 20, 30],
      sortBy: null,
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      emptyText: "등록된 자료가 없습니다.",
      emptyFilteredText: "찾는 자료가 없습니다.",
      detailFlag: false,
      notices: {
        n_id: "",
        n_subject: "",
        n_content: "",
        n_creator: "",
        created: ""

      }
    };
  },
  methods: {
    createCustomer() {
      this.$router.push({ path: "./CreateCustomer" });
    },
    
 
    getNotices() {
      this.notices = [];
      var data = new FormData();
        data.append("CRUD_mode", "get");
      data.append("search_mode", "list");
      axios
        .post(this.$store.state.lawketBaseUrl + "CRUD_notice.php", data)
        .then(response => {
          if (!response.data.result) {
            this.infoMsg = response.data.msg;
            this.showModal();
          } else {
            this.notices = response.data.notices;
            // this.totalRows = this.notice.length;
           // this.showModal();
          }
        })
        .catch(error => {
          console.log(error);
          //alert(JSON.stringify(error));
        })
        .finally(() => (this.loading = false));
    },
    showDetail(item) {
      this.detailFlag = true;
      this.notices.n_id = item.n_id;
      this.notices.n_subject = item.n_subject;
      this.notices.n_content = item.n_content;
    },
    viewList() {
      this.detailFlag = false;
      this.notices.n_id = "";
      this.cnotices.n_subject = "";
      this.notices.n_content = "";
    },
    showModal() {
      this.$refs.infoModal.show();
    },
    hideModal() {
      this.$refs.infoModal.hide();
    },
    formatToPrice(value) {
      return ` ${value.toFixed(0)}`;
    },
  },
  mounted() {
    //this.$store.state.top_search.search_mode = "detail";
    this.selectDivision_param.push("전체");
    this.selectArea_param.push("전체");
    this.getLegalOffices();
    this.getNotices();
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.col-text {
  padding-top: 7px;
  padding-right: 0px;
  padding-left: 30px;
}
</style>
