<template>
  <div class="SearchByRegoin" align="center">
    <TopFrame></TopFrame>
    <Navi></Navi>
    <div class="container">
      <div class="area_cont">
        <h5 class="sub_top_title">지역별 법률 사무소 검색</h5>
        <div class="sub_top_cont">
          <div class="premium_cont">
            <h6>프리미엄 추천 업체</h6>
            <div class="premium_banner">
              <carousel
                :per-page="1"
                :mouse-drag="false"
                :autoplay="true"
                :loop="true"
                :navigationEnabled="true"
                :autoplayTimeout="3000"
              >
                <slide
                  data-index="0"
                  data-name="premiumCustomers"
                  v-for="(premium, key) in premiumCustomers" :key="key">
                  <div class="pre_banner_cont" @click="selectedpreCustomer(premium)">
                  <div class="lawyer_img" ><img :src="premium.l_photo"></div>
                  <div class="pre_banner_info">
                    <div class="premium_text">
                      <div class="divison_icon" v-for="(ah_ad_division, key) in premium.ah_ad_division" :key="key">
                            {{ah_ad_division}}
                      </div>
                      <div class="pre_title">
                        {{premium.lo_title}}
                      </div>
                      <span class="keyword">{{premium.lo_core_business}}</span>
                    </div>
                    <div class="premium_banner_bottom">
                      <div class="pre_name">
                            {{premium.lo_name}}

                      </div>
                      <div class="premium_banner_ri"></div>
                    </div>
                  </div>
                  </div>
                  <div class="pre_detail_btn" @click="selectedpreCustomer(premium)">
                   <img src="http://192.168.1.220:8080/images/main_pre_detail_icon.png" alt="상세보기" /> 상세보기
                  </div>
                </slide>
              </carousel>
            </div>
          </div>
          <div class="area_btn_layout">
             <div id="scrollTop"></div>
            <h6>지역별 검색</h6>
            <div class="area_btn">
            <a v-for="(area, key) in areas" :key="key" size="sm" variant="outline-secondary" @click="selectArea(area.value)">{{area.text}}</a>
            </div>
          </div>
        </div>
        <div class="sub_area_com_info" v-if="detailFlag">
            
            <div class="sub_area_com_infoTop">
            <h6>{{customer.lo_title}}</h6>
              <div class="top_info_lf">
              <dl>
                  <dt>
                      회사명
                  </dt>
                  <dd>{{customer.lo_name}}</dd>
              </dl>
               <dl>
                  <dt>
                      대표자명
                  </dt>
                  <dd>{{customer.lo_ceo_name}}</dd>
              </dl>
              <dl>
                  <dt>
                      사업자등록번호
                  </dt>
                  <dd>{{customer.lo_regist_number}}</dd>
              </dl>
              </div>
              <div class="top_info_lf">
              <dl>
                  <dt>
                      전화번호
                  </dt>
                  <dd>{{customer.lo_phone}}</dd>
              </dl>
               <dl>
                  <dt>
                     서비스대상
                  </dt>
                  <dd>{{customer.lo_service_target}}</dd>
              </dl>
              <dl>
                  <dt>
                      홈페이지
                  </dt>
                  <dd>{{customer.lo_homepage}}</dd>
              </dl>
              </div>
              <div class="area_address">
                <dl>
                  <dt>
                      주소
                  </dt>
                  <dd>{{customer.lo_address}}</dd>
              </dl>
              </div>
            </div>
            
            <div class="sub_area_com_infoBottom">
               <dl>
                  <dt>
                      핵심사업
                  </dt>
                  <dd  v-html="customer.lo_core_business"></dd>
              </dl>
               <dl>
                  <dt>
                      부가 설명
                  </dt>
                  <dd v-html="customer.lo_description"></dd>
              </dl>
            </div>

        </div>
        <div style="width:100%;float:left;" v-if="detailFlag">
     
          <!--b-row align="left">
            <b-col cols="2">우편번호:</b-col>
            <b-col cols="6">
              <span v-html="customer.lo_postcode"></span>
            </b-col>
          </b-row-->
     
       
          <b-row>
            <b-col cols="11"></b-col>
            <b-col cols="1">
              <b-btn class="list_btn" size="sm" variant="info" @click="viewList">목록</b-btn>
            </b-col>
          </b-row>
        </div>
         </div>
        <div class="area_company"  v-if="!detailFlag">
          <h6><span>지역별</span> 등록업체 현황 </h6>
            <div class="cont_product platinum">
              <div class="inner_cont">
                <ul class="list_product" id="_platinum">
                  <li class="open" v-for="(area, key) in areaCustomers" :key="key"   @click="showCardDetail(area.lo_id)"> 
                    <div class="box_product">
                      <div class="poduct_info">
                        <strong class="poduct_tit" ></strong>
                        <div class="product_desc">
                         <div class="category_part" v-for="(ah_ad_division, key) in area.ah_ad_division" :key="key">
                            <b-btn :key="key" size="sm" variant="outline-secondary" style="margin-left: 2px;">{{ah_ad_division}}</b-btn>
                          </div>
                          <div class="main_platium_bottom">
                            <span class="txt">{{area.lo_title}}</span>
                            
                          </div>
                          <span class="txt">{{area.lo_core_business}}</span>
                          <div class="main_platium_info"><img src="http://192.168.1.220:8080/images/main_com_icon.png" alt="회사아이콘" /> {{area.lo_company_name}}</div>
                        </div>

                          <div class="wrap_desc"  @click="selectedCustomer(area)">
                            <span class="txt_desc">
                              <span class="com_title_text" >{{area.lo_company_name}}</span>
                              <span class="com_more"><img src="http://192.168.1.220:8080/images/main_more_icon.png" alt="상세보기" /> 상세보기</span>
                            </span>
                          </div>
                        </div>
                        <span class="bg"></span>
                      </div>

                      
                    </li>
                  </ul>
                </div>
              </div>
            
        </div>
       <div class="customer_bottom">
          <h5>
         <img src="http://192.168.1.220:8080/images/customer_sub_title_bg.png" alt="맞춤 검색 결과" />
         <span style="font-size:25px;">지역별</span> 등록업체
        </h5>
        <b-table
          show-empty
          stacked="sm"
          :items="areaCustomers"
          :fields="fields"
          :current-page="currentPage"
          :per-page="perPage"
          :filter="filter"
          :empty-text="emptyText"
          :empty-filtered-text="emptyFilteredText"
          :sort-by.sync="sortBy"
          :sort-desc.sync="sortDesc"
          :sort-direction="sortDirection"
          @row-clicked="showRowDetail"
          v-scroll-to="'#scrollTop'"
        ></b-table>
          <div class="paging_cont">
            <b-pagination
              :total-rows="totalRows"
              :per-page="perPage"
              v-model="currentPage"
              class="my-0"
            />
          </div>
          <div class="list_search_bottom">
              <b-input-group>
                <b-form-input v-model="filter" placeholder="찾을 내용을 입력하세요"/>
                <b-input-group-append>
                  <b-btn :disabled="!filter" @click="filter = ''">지우기</b-btn>
                </b-input-group-append>
              </b-input-group>
          </div>

      <b-modal ref="infoModal" hide-footer title="알림">
        <div class="d-block text-center">
          <h5>{{ infoMsg }}</h5>
        </div>
        <b-btn class="mt-3" variant="outline-primary" @click="hideModal">닫기</b-btn>
      </b-modal>
      </div>
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
import TopFrame from "./TopFrame";
import Navi from "./Navi";
import axios from "axios";
import Footer from "./Footer";
import { Carousel, Slide } from "vue-carousel";

const Vue = require('vue');
const VueScrollTo = require('vue-scrollto');

export default {
  components: {
    TopFrame,
    Navi,
    Footer,
    Carousel,
    
  },
  name: "SearchByRegoin",

  data() {
    return {
      infoMsg: "",
      selectArea_param: "",
       premiumCustomers: [],
      rowClasses: ['row1', 'row2', 'row3', 'row4'],

      areas: [
        { value: "전체", text: "전체", class:"area01" },
        { value: "서울", text: "서울", class:"area02" },
        { value: "인천", text: "인천" },
        { value: "부산", text: "부산" },
        { value: "대전", text: "대전" },
        { value: "울산", text: "울산" },
        { value: "대구", text: "대구" },
        { value: "광주", text: "광주" },
        { value: "세종", text: "세종" },
        { value: "경기", text: "경기" },
        { value: "강원", text: "강원" },
        { value: "충북", text: "충북" },
        { value: "충남", text: "충남" },
        { value: "경북", text: "경북" },
        { value: "경남", text: "경남" },
        { value: "전북", text: "전북" },
        { value: "전남", text: "전남" },
        { value: "제주", text: "제주" }
      ],
       ah_ad_divisions: [
        { value: "전체", text: "전체", variant: "outline-secondary", state: false },
        { value: "개인회생", text: "개인회생", variant: "outline-secondary", state: false },
        { value: "개인파산", text: "개인파산", variant: "outline-secondary", state: false }
      ],

      areas2: [
        { value: "경기", text: "경기" },
        { value: "강원", text: "강원" },
        { value: "충북", text: "충북" },
        { value: "충남", text: "충남" },
        { value: "경북", text: "경북" },
        { value: "경남", text: "경남" },
        { value: "전북", text: "전북" },
        { value: "전남", text: "전남" },
        { value: "제주", text: "제주" }
      ],
      areaCustomers: [],
      customers: [],
      fields: [
        { key: "ah_ad_area", label: "지역", class: "text-center" },
        { key: "lo_title", label: "제목", class: "td_area_title" },
        { key: "ah_ad_division", label: "분야", class: "text-center" },
        { key: "lo_name", label: "회사명", class: "text-center" },
 
      ],
      currentPage: 1,
      perPage: 10,
      totalRows: 0,
      pageOptions: [10, 20, 30],
      sortBy: null,
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      emptyText: "등록된 업체가 없습니다.",
      emptyFilteredText: "찾는 업체가 없습니다.",
      detailFlag: false,
      customer: {
        lo_name: "",
        lo_ceo_name: "",
        lo_regist_number: "",
        lo_phone: "",
        lo_postcode: "",
        lo_address: "",
        lo_core_business: "",
        lo_service_target: "",
        lo_description: "",
        lo_homepage: "",
        lo_main_img: "",
        lo_title: "",
        ah_ad_division: ""
      }
    };
  },
  methods: {
    selectArea(area) {
      this.detailFlag = false;
      this.selectArea_param = area;
      //alert(JSON.stringify(this.selectArea_param));
      this.getAreaLegalOffices();
      this.getLegalOffices();
    },
    showCardDetail(lo_id) {
      this.detailFlag = true;
      for (var i = 0; i < this.customers.length; i++) {
        if (this.customers[i].lo_id == lo_id) {
          this.customer.lo_name = this.customers[i].lo_name;
          this.customer.lo_ceo_name = this.customers[i].lo_ceo_name;
          this.customer.lo_regist_number = this.customers[i].lo_regist_number;
          this.customer.lo_phone = this.customers[i].lo_phone;
          this.customer.lo_postcode = this.customers[i].lo_postcode;
          this.customer.lo_address =
            this.customers[i].lo_address1 + " " + this.customers[i].lo_address2;
          this.customer.lo_core_business = this.customers[i].lo_core_business;
          this.customer.lo_service_target = this.customers[i].lo_service_target;
          this.customer.lo_description = this.customers[i].lo_description;
          this.customer.lo_homepage = this.customers[i].lo_homepage;
      
        }
      }
    },
    showRowDetail(item) {
      this.detailFlag = true;
      this.customer.lo_name = item.lo_name;
      this.customer.lo_ceo_name = item.lo_ceo_name;
      this.customer.lo_regist_number = item.lo_regist_number;
      this.customer.lo_phone = item.lo_phone;
      this.customer.lo_postcode = item.lo_postcode;
      this.customer.lo_address = item.lo_address1 + " " + item.lo_address2;
      this.customer.lo_core_business = item.lo_core_business;
      this.customer.lo_service_target = item.lo_service_target;
      this.customer.lo_description = item.lo_description;
      this.customer.lo_homepage = item.lo_homepage;
      this.customer.lo_title = item.lo_title;
    },
    viewList() {
      this.detailFlag = false;
      this.customer.lo_name = "";
      this.customer.lo_ceo_name = "";
      this.customer.lo_regist_number = "";
      this.customer.lo_phone = "";
      this.customer.lo_postcode = "";
      this.customer.lo_address = "";
      this.customer.lo_core_business = "";
      this.customer.lo_service_target = "";
      this.customer.lo_description = "";
      this.customer.lo_homepage = "";
      this.customer.ah_ad_division = "";
     
    },

    showModal() {
      this.$refs.infoModal.show();
    },
    hideModal() {
      this.$refs.infoModal.hide();
    },

    getPremiumLegalOffices() {
      this.customers = [];
      this.premium = [];
      var data = new FormData();
      data.append("GET_mode", "get");
      data.append("search_mode", "banner");
      data.append("ah_at_type", "10"); //10 —> 프리미엄 배너광고
      
      axios
        .post(this.$store.state.lawketBaseUrl + "GET_legal_office.php", data)
        .then(response => {
          if (!response.data.result) {
            this.infoMsg = response.data.msg;
            this.showModal();
          } else {
            this.premiumCustomers = response.data.legal_offices;
            for (var i = 0; i < this.premiumCustomers.length; i++) {
              if ( this.premiumCustomers[i].lo_main_img != null && this.premiumCustomers[i].lo_main_img != "null" ) {
                  this.premiumCustomers[i].lo_main_img = this.$store.state.lawketImageUrl + "customer_image/" 
                  + this.premiumCustomers[i].lo_company_name + "/" + this.premiumCustomers[i].lo_main_img;
              }
              if ( this.premiumCustomers[i].lo_sub1_img != null && this.premiumCustomers[i].lo_sub1_img != "null" ) {
                  this.premiumCustomers[i].lo_sub1_img = this.$store.state.lawketImageUrl + "customer_image/" 
                  + this.premiumCustomers[i].lo_company_name + "/" + this.premiumCustomers[i].lo_sub1_img;
              }
              if ( this.premiumCustomers[i].lo_sub2_img != null && this.premiumCustomers[i].lo_sub2_img != "null" ) {
                  this.premiumCustomers[i].lo_sub2_img = this.$store.state.lawketImageUrl + "customer_image/" 
                  + this.premiumCustomers[i].lo_company_name + "/" + this.premiumCustomers[i].lo_sub2_img;
              }
              if ( this.premiumCustomers[i].l_photo != null && this.premiumCustomers[i].l_photo != "null" ) {
                  this.premiumCustomers[i].l_photo = 
                  this.$store.state.lawketImageUrl + "customer_image/" + this.premiumCustomers[i].lo_company_name + "/" + this.premiumCustomers[i].l_photo;
              }
             this.premiumCustomers[i].ah_ad_division = this.premiumCustomers[i].ah_ad_division.split(",");
            }
            this.PrtotalRows = this.premiumCustomers.length;
            this.getAreaLegalOffices();
          }
        })
        .catch(error => {
          console.log(error);
          //alert(JSON.stringify(error));
        })
        .finally(() => (this.loading = false));
    },
    getAreaLegalOffices() {
      this.areaCustomers = [];
      var data = new FormData();
      data.append("GET_mode", "get");
      data.append("search_mode", "banner");
      data.append("ah_at_type", "30"); //30 —> 지역 배너광고
      data.append("ah_ad_area", this.selectArea_param);
      axios
        .post(this.$store.state.lawketBaseUrl + "GET_legal_office.php", data)
        .then(response => {
          if (!response.data.result) {
            this.infoMsg = response.data.msg;
            this.showModal();
          } else {
            this.areaCustomers = response.data.legal_offices;
            for (var i = 0; i < this.areaCustomers.length; i++) {
              if ( this.areaCustomers[i].lo_main_img != null && this.areaCustomers[i].lo_main_img != "null" ) {
                  this.areaCustomers[i].lo_main_img = this.$store.state.lawketImageUrl + "customer_image/" 
                  + this.areaCustomers[i].lo_company_name + "/" + this.areaCustomers[i].lo_main_img;
              }
              if ( this.areaCustomers[i].lo_sub1_img != null && this.areaCustomers[i].lo_sub1_img != "null" ) {
                  this.areaCustomers[i].lo_sub1_img = this.$store.state.lawketImageUrl + "customer_image/" 
                  + this.areaCustomers[i].lo_company_name + "/" + this.areaCustomers[i].lo_sub1_img;
              }
              if ( this.areaCustomers[i].lo_sub2_img != null && this.areaCustomers[i].lo_sub2_img != "null" ) {
                  this.areaCustomers[i].lo_sub2_img = this.$store.state.lawketImageUrl + "customer_image/" 
                  + this.areaCustomers[i].lo_company_name + "/" + this.areaCustomers[i].lo_sub2_img;
              }
              this.areaCustomers[i].ah_ad_division = this.areaCustomers[i].ah_ad_division.split(",");
            }
          }
          this.getLegalOffices();
        })
        .catch(error => {
          console.log(error);
          //alert(JSON.stringify(error));
        })
        .finally(() => (this.loading = false));
    },
    getLegalOffices() {
      this.customers = [];
      this.leftCustomers = [];
      var data = new FormData();
      data.append("GET_mode", "get");
      data.append("search_mode", "list");
      data.append("ah_at_type", "30"); //30 —> 지역 배너광고
      data.append("ah_ad_area", this.selectArea_param);
      axios
        .post(this.$store.state.lawketBaseUrl + "GET_legal_office.php", data)
        .then(response => {
          if (!response.data.result) {
            this.infoMsg = response.data.msg;
            this.showModal();
          } else {
            this.customers = response.data.legal_offices;
            for (var i = 0; i < this.customers.length; i++) {
              if ( this.customers[i].lo_main_img != null && this.customers[i].lo_main_img != "null" ) {
                  this.customers[i].lo_main_img = this.$store.state.lawketImageUrl + "customer_image/" 
                  + this.customers[i].lo_company_name + "/" + this.customers[i].lo_main_img;
              }
              if ( this.customers[i].lo_sub1_img != null && this.customers[i].lo_sub1_img != "null" ) {
                  this.customers[i].lo_sub1_img = this.$store.state.lawketImageUrl + "customer_image/" 
                  + this.customers[i].lo_company_name + "/" + this.customers[i].lo_sub1_img;
              }
              if ( this.customers[i].lo_sub2_img != null && this.customers[i].lo_sub2_img != "null" ) {
                  this.customers[i].lo_sub2_img = this.$store.state.lawketImageUrl + "customer_image/" 
                  + this.customers[i].lo_company_name + "/" + this.customers[i].lo_sub2_img;
              }
                if (i < 5) {
                this.leftCustomers.push(this.customers[i]);
              }
            }
            this.totalRows = this.customers.length;
          }
        })
        .catch(error => {
          console.log(error);
          //alert(JSON.stringify(error));
        })
        .finally(() => (this.loading = false));
    },
     selectedpreCustomer(selected_precustomer) {
      //console.log('selected_customer --------------> clicked');
      this.$store.state.eachData.customerData = selected_precustomer;
      this.$router.push({ path: "./CustomSearch" });
    },
  },
  mounted() {
    this.$store.state.top_search.lo_name = '';
    this.$store.state.top_search.lo_description = '';
    if(this.$store.state.main_search.region != '전체') {
      this.selectArea_param = this.$store.state.main_search.region;
    } else {
      this.selectArea_param = "전체";
    }
    this.getPremiumLegalOffices();
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
