<template>
  <div class="UserGuide" align="center">
    <TopFrame></TopFrame>
    <Navi></Navi>
    <div class="container">
        <div class="user_cont">

          <div class="lnb">
          <h5>고객센터<br/> <span>Customer Center</span></h5>
          <ul>
            <li class="active" @click="userGuide">의뢰인 이용안내 </li>
            <li @click="customerGuide">변호사 이용안내</li>
          </ul>
          <div class="lf_menu_cont">
          <p class="left_menu_banner" @click="searchByRegion">
              지역별 업체검색
          </p>
          <p class="left_menu_banner" @click="searchByProduct">
            분야별 업체검색
          </p>
          </div>
        </div>
         <div class="lnb_content">
          <h5 class="sub_top_title">의뢰인 이용안내</h5>
          <div class="user_top_cont">
            <p>
              <img src="http://192.168.1.220:8080/images/user_img.png" alt="이용안내" />
            </p>
            <p>
              어려운 법률상담, <strong>법률나라</strong>로 쉽고 빠르게
            </p>
            <p>
              <span>
                여러 법률 사이트를 들어갈 필요없이 의뢰인이 직접 법률 사무소를 비교하고,검색하고, 선택 할 수 있도록<br/>서비스를 제공하여 법률상담부터 법률 사무소 수임까지 한번에 쉽고 빠른 진행이 가능합니다.  
              </span>
            </p>
          </div>
          <div class="user_mid_cont">
              <ul>
                <li class="left">
                  <p>
                    <img src="http://192.168.1.220:8080/images/user_img_01.png" alt=""   width="100%"/>
                  </p>
                  <p><strong>지역별 검색</strong></p>
                  <p>
                    <span>
                      자택에서 가까운곳에서 상담받기 원하시는 분들을 위한 지역별 업체검색<br/>기능을 제공하고 있으며, 타 지역에 위치하더라도 여러 지역에 서비스가<br/> 가능한 법률 사무소 리스트를 등록 하였습니다.  
                    </span>
                  </p>
                  <a href="#/searchByRegion" @click="searchByRegion" >바로가기 ></a>
                </li>
                <li class="right">
                  <p>
                    <img src="http://192.168.1.220:8080/images/user_img_02.png" alt=""  width="100%"/>
                  </p>
                  <p><strong>분야별 검색</strong></p>
                  <p>
                    <span>
                      법률 상담 분야를 카테고리별로 세부적으로 나누어, <br/>
                      의뢰인이 보다 더 세분화 된 법률 전문가에게  상담 받을 수 있도록<br/> 서비스를 제공합니다.
                    </span>
                  </p>
                   <a href="#/searchByProduct" @click="searchByProduct" >바로가기 ></a>
                </li>
              </ul>
          </div>
          <div class="user_ft_cont">
            <h5>실시간 법률 문의</h5> 
            <p>실시간 법률문의 글 작성시 고객이 여러 법률사무소에게 상담을 받을 수 있는 시스템으로 보다 쉽고 다양한 법률상담을 받아 보실 수 있습니다. </p>
            <div class="process_user">
                <dl>
                  <dt>
                    01
                  </dt>
                  <dd>
                    실시간 법률문의<br/>
                    글 작성
                  </dd>
                </dl>
                <dl style="margin-left:57px;">
                  <dt>
                    02
                  </dt>
                  <dd>
                   다수의 법률<br/>사무소에서 글 검토 
                  </dd>
                </dl>
                <dl style="margin-left:57px;">
                  <dt>
                    03
                  </dt>
                  <dd>
                    1차로 승인 된<br/>업체에서 답변등록 
                  </dd>
                </dl>
                <dl style="margin-left:58px;">
                  <dt>
                    04
                  </dt>
                  <dd>
                    법률 사무소 정보<br/>열람 시작 
                  </dd>
                </dl>
            </div>
            <div class="user_ft_banner">
                <p>
                  실시간 법률 문의 글 등록시 여러 법률사무소 에서 해당 글 확인 후 해당 사건의 수임 가능 여부를<br/>
                   작성 글 하단에 등록하게 됩니다. 그 후 의뢰인께서 직접 해당 법률 사무소의 정보를 조회하고 연락을 <br/>
                   취한 후 상담 받아보실 수 있습니다.
                </p>
              <a href="#/realTimeConsult" @click="realTimeConsult">바로가기 ></a>
            </div>
          </div>    
        </div>
        </div>
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
import TopFrame from './TopFrame';
import Navi from './Navi';
import Footer from './Footer';
import axios from 'axios';

export default {
  components: {
    TopFrame,
    Navi,
    Footer,
  },
  name: 'UserGuide',
  data() {
    return {

    }
  },
   methods: {
     searchByRegion() {
      this.$router.push({ path: "./searchByRegion" });
    },
    searchByProduct() {
      this.$router.push({ path: "./searchByProduct" });
    },
     userGuide() {
      this.$router.push({ path: "./userGuide" });
    },
    customerGuide() {
      this.$router.push({ path: "./customerGuide" });
    },
      realTimeConsult() {
      this.$router.push({ path: "./realTimeConsult" });
    },

   },
  mounted() {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
